<div class="message-section">
    <ul>
    {{#messages}}
        <li>
            <div class="message-head">
                <span class="sprite-sprite {{iconClass}}"></span>
                <div class="name-user">
                    <span class="name">{{name}}</span> - <span class="user">{{externalUsername}}</span>
                </div>
                <div class="date-time">
                    <span class="date">{{created}}</span> - ({{createdFuzzy}})
                </div>
            </div>
            <div class="message-body">
                {{#hasCollapsibleSection}}<div class="message-section-collapser" title="Expand Hidden Lines">...</div>{{/hasCollapsibleSection}}
                <div class="message-print"><a href="#">Print Message</a></div>
                <div class="message-content">{{{body}}}</div>
            </div>
        </li>
    {{/messages}}
    </ul>
</div>
