<div class="preview-header">
    <div class="message-title">
      <a href="">{{subject}}</a>
    </div>
    <div class="message-actions">
        <div class="channel-company">
            <span class="logo-large {{channel}}"></span>
            <span class="company">{{account}}</span>
        </div>
        <div class="actions">
            <div class="message-status">
                <span class="status {{status}}">{{statusText}}</span>
            </div>
<!-- TODO
            <div class="action-nav">
                <ul>
                    <li>Take</li>
                    <li>Resolve</li>
                </ul>
            </div>
            <div class="assign">
                <div data-concatenate="true" data-element-name="assignee" data-group="true" data-cgtype="MultiSelect" class="custom-select custom-select-group large">
                    <div class="selected">
                      <span data-default="<b>Assignee:</b> " data-title="Assignee" class="selected-content"><b>Assigned:</b> Amit Patel</span>
                      <span class="sprite-arrow-down-10-black">&nbsp;</span>
                    </div>
                </div>
            </div>
-->
        </div>
    </div>
</div>