<div class="reply-section">
    <div class="reply-message">
        <textarea></textarea>
    </div>
<!-- TODO
    <div class="reply-buttons">
        <span class="button-holder" data-cgtype="Button">
            <div id="-shadow" class="button blue">
              <span data-action="clear-filters" class="action">
                <span class="title">Send &amp; Resolve</span>
              </span>
            </div>
            <input type="submit" style="display:none;" id="" data-action="clear-filters" value="Clear" class="button">
        </span>
        <span class="button-holder" data-cgtype="Button">
            <div id="-shadow" class="button">
                <span data-action="clear-filters" class="action">
                    <span class="title">Send</span>
                </span>
            </div>
            <input type="submit" style="display:none;" id="" data-action="clear-filters" value="Clear" class="button">
        </span>
    </div>
-->
</div>