$border-radius: 0.5rem;

.c-card {
    overflow: hidden;
    background: white;
    border-radius: $border-radius;
    &--centered{
        text-align: center;
    }
    &--large{
        font-size: 1.8rem;
        width: 40rem;
    }
    &__text-content {
        font-size: inherit;
        font-size: 1.6rem;
    }
    &__heading-container {
        color: white;
        padding: 0.5rem;
        background-color: $color-linkblue;
    }
    &__content-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__cta-button {
        background: linear-gradient(limegreen, darken(limegreen, 10%));
        color: white;
        border: 1px solid darken(limegreen, 20%);
        margin-bottom: 1rem;
    }
    &__footer-text {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: inherit;
    }
}
