.c-form-row {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 1rem;
    overflow: hidden;
    &:last-of-type {
        margin-bottom: 1rem;
    }
    &__label-column {
        float: left;
        margin-right: 12px;
        font-size: 1.2em;
        max-width: 150px;
    }
    &__input-column {
        float: left;
    }
}