.c-input-field{
    padding:$padding--input-field;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background: white;
    float:left;
    &:disabled{
        background:rgba(9, 30, 66, 0.04);;
    }
}

.c-editable-field{
    box-sizing: border-box;
    &:hover{
        border: 1px solid #c2c2c2;
        margin-left:-1px;
    }
}
