<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Orders">
            <directory>./OrdersTest</directory>
        </testsuite>
    </testsuites>
    <todo>ADD "IGNORE INTEGRATION TESTS BY DEFAULT" IN HERE SOMEWHERE</todo>
</phpunit>