.react-image-picker {
  border:1px solid $color-lgrey;
  @include border-radius(5px);
  width: 300px;
  overflow: auto;
  white-space: nowrap;
  .react-image-picker-image {
    display: inline-block;
    margin: 5px 0 5px 5px;
    border:3px solid white;
    &.selected {
      border:3px solid $color-green
    }
    img {
      max-width: 100px;
      max-height: 44px;
    }
  }

  .react-image-picker-select-text {
    float: left;
    margin-top: 21px;
    padding-left: 8px;
  }
}