
.note-root {
    textarea {
        min-height: 100px;
        border: 1px solid $color-lgrey;
        padding: 5px;
        border-radius: 5px;
        background-clip: padding-box;
        box-sizing: border-box;
    }
    .note-list {
        margin-bottom: 25px;
        .note {
            width: 100%;
            float: none;
            .note-body {
                textarea {
                    width: 640px;
                }
            }
        }
    }
    .note-form {
        textarea {
            width: 260px;
        }
        button {
            margin-left: 0px;
        }
    }
}