.react-popup-screen-mask {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: 9997;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    padding: 100%; /* this is a pretty disgusting hack, to ensure that the screenmask fills the full screen */
}
.react-popup {
    min-width: 50%;
    box-sizing: border-box;
    position: fixed;
    height: 75%;
    left: 38%;
    top: 40%;
    z-index: 9998;
    opacity: 1;
    display: block;
    font-size: 18px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    background-clip: padding-box;
    .react-popup-header {
        text-align: center;
        margin: -20px -20px 16px;
        background-color: $color-linkblue;
        color: $color-white;
        padding: 16px;
        font-weight: bold;
        border-radius: 10px 10px 0 0;
    }
    .react-popup-subheader {
        font-size: 15px;
    }
    .react-popup-content {
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 20px;
        height: calc(100% - 90px);
        .center-align {
            text-align: center;
        }
    }
    .react-popup-subheader + .react-popup-content {
        height: calc(100% - 132px);
    }
    .react-popup-buttons {
        display: flex;
        justify-content: space-between;
        .button.react-popup-btn {
            display: inline-block;
            padding: 5px;
            min-width: 75px;
            &.no {

            }
            &.yes {

            }
        }
    }
    .react-popup-message {
        width: 60%;
        max-height: 90%;
        box-sizing: border-box;
        position: fixed;
        overflow-y: auto;
        left: 20%;
        top: 20px;
        z-index: 9999;
        opacity: 1;
        display: block;
        font-size: 16px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        background-clip: padding-box;
        border-width: 1px;
        border-style: solid;
        border-color: $color-lgrey;

        &.error {
            color: $color-red;
            border-color:$color-red;
            background-color: lighten($color-red, 50%);
        }

        &.notice {
            color: $color-yellow;
            border-color: $color-yellow;
            background-color: lighten($color-yellow, 40%);
        }

        &.success {
            color: $color-green;
            border-color: $color-green;
            background-color: lighten($color-green, 50%);
        }

        .react-popup-message-header {
            text-align: center;
            font-weight: bold;
        }
        .react-popup-message-content {
            margin-bottom: 20px;
            .center-align {
                text-align: center;
            }
        }
        .react-popup-message-buttons {
            display: flex;
            justify-content: space-between;
            width: 20%;
            margin: 0 auto;
            .button.react-popup-btn {
                display: inline-block;
                padding: 5px;
                min-width: 75px;
                &.close {

                }
            }
        }
    }
}