.account-form-holder {
  width: 500px;
  height: 300px;
  clear:both;
  position: absolute;
  @include calc(top, "50% - 150px");
  @include calc(left, "50% - 250px");
  &.large {
    width: 800px;
    height: auto;
    top: 80px;
    @include calc(left, "50% - 400px");
  }
  > div:not(.account-field-holder), > p {
    width: 100%;
    float: left;
    clear:both;
    margin: 30px 0px 30px 0px;
  }
  h1, .spacer, .account-field-holder {
    width: 100%;
    float: left;
    clear:both;
    margin-bottom: 20px;
  }
  h1 > span {
    font-weight: initial;
    &:before {
      content: " - ";
    }
  }
  .account-text {
    text-align: center;
  }
  .account-field-holder {
    .label {
      width: 40%;
      float: left;
      clear:both;
      position: relative;
      top: 3px;
    }
    .text-field {
      width: 50%;
      float: left;
    }
    .std-checkbox .checkbox_label {
      max-width: initial;
      margin-left: 5px;
      margin-bottom: 10px;
    }
  }
  div.section > .account-field-holder {
    margin-left: 10px;
  }
  .account-form-buttons-holder {
    width: 250px;
    margin: 20px auto 20px auto;
    clear:both;
    position: relative;
    top: 20px;
    .button-holder {
      float: left;
      margin-right: 30px;
    }
    a {
      float: right;
    }
  }
  .button-holder > .inline {
    display: inline-block;
    vertical-align: middle;
  }
  .center {
    margin: auto;
    text-align: center;
  }
  div.what-is-this {
    display: none;
  }
    fieldset {
        margin-bottom: 10px;
        legend {
            font-size: 16px;
            font-weight: bold;
        }
    }
  .help-text {
    font-weight: bold;
    font-size: 95%;
  }
}
.account-logo {
  width: 100%;
  float: left;
  clear:both;
  margin-bottom: 20px;
  .logo-large {
    width: 200px;
    margin: auto;
    display: block;
  }
}
.account-link {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  padding-left: 40%;
  box-sizing: border-box;
}
