@import "../../zf2-v4-ui/scss/common/globals/variables";

h1.title {
  margin-bottom: 25px;
}

span.token.empty {
  color: $color-lgrey;
}

span.token.expired {
  color: $color-red;
  font-weight: bold;
}
