.invoiceSettings {
    width: 100%;
    float: left;
    clear:both;
    .heading-large {
        margin-bottom: 20px;
    }
    .heading-medium {
        margin-bottom: 10px;
    }
    .dataTables_scroll {
        width: 500px;
        float: left;
        clear: both;
        height: auto;
        .dataTables_scrollBody {
            min-width: 100%!important;
            width: 100%!important;
            padding-bottom: 250px;
        }
        .dataTables_scrollHead {
            min-width: 100%!important;
            width: 100%!important;
            .dataTables_scrollHeadInner {
                min-width: 100%!important;
            }

        }
        .dataTable {
            width: 100%!important;
            min-width: 100%!important;
        }
    }
    .med-element {
        width: 100%;
        min-width: 200px;
        float: left;
        clear:both;
        .custom-select {
            width: 200px;
            float: none;
            clear:both;
            margin: auto;
            li a :hover {
                background-color: $color-dgrey;
            }
        }
    }
    td {
        overflow: visible;
        text-align: center;
    }
}
.invoiceDefaultSettings {
    @include calc(width, "100% - 60px");
    float: left;
    clear:both;
}
.default-invoice-holder {
    @include calc(width, "100% - 60px");
    float: left;
    clear: both;
}
.default-invoice-dropdown {
    width: 100%;
    float: left;
    clear:both;
    .med-element {
        width: 200px!important;
    }
}
.invoiceTradingCompanySettings {
    @include calc(width, "100% - 60px");
    float: left;
    clear:both;
}
.email-invoice-holder, .product-images-invoice-holder {
    width: 300px;
    float: left;
    .std-checkbox {
        top: -4px;
    }
}
