.invoice-designer-container {
  height: 100vh;
}
.button {
  font-family: $fonts-default;
  font-size: 13px;
  font-weight: 400;
}
.invoice-template {
    line-height:1.0;
    margin-left: 48px;
    margin-right: 250px;
    height: 100%;
    .invoice-template-container {
        overflow-x: auto;
        height: 100%;
        background-color: #e6e6e6;
    }
}
.save-template-inner {
    z-index: 110;
    .button {
      margin-top: 6px;
      margin-right: 10px;
    }
}
.template-element-wrapper{
    position: absolute;
    float: left;
    box-sizing:border-box;
    padding: 2px;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
}
.template-element-ordertable-main {
    width: 100%;
}
.template-element-wrapper.active{
    @extend .template-element-wrapper;
    border-color: $color-lblue;

    .ui-resizable-handle {
        @extend .template-element-wrapper.active;
        width: 5px;
        height: 5px;
        background-color: $color-white;
    }

    .ui-resizable-ne {
        top:-6px; right:-6px;
        cursor: ne-resize;
    }
    .ui-resizable-se {
        bottom:-6px; right:-6px;
        cursor: se-resize;
    }
    .ui-resizable-nw {
        top:-6px; left:-6px;
        cursor: nw-resize;
    }
    .ui-resizable-sw {
        bottom:-6px; left:-6px;
        cursor: sw-resize;
    }
    .ui-resizable-n {
        top:-6px;
        left:50%; margin-left:-6px;
        cursor: ns-resize;
    }
    .ui-resizable-e {
        right:-6px;
        top:50%; margin-top:-6px;
        cursor: ew-resize;
    }
    .ui-resizable-s {
        bottom:-6px;
        left:50%; margin-left:-6px;
        cursor: ns-resize;
    }
    .ui-resizable-w {
        left:-6px;
        top:50%; margin-top:-6px;
        cursor: ew-resize;
    }
}

.template-element{
    cursor: move;
    box-sizing: border-box;
    @include user-select(none);
}

.template-paperpage{
    box-sizing: border-box;
    position: relative;
    margin: 40px auto 40px auto;
    border: 1px solid $color-lgrey;
    background-color: $color-white;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: left top;
}

.template-paperpage:before, .template-paperpage:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 14px;
    background: transparent;
    @include transform(skew(-5deg) rotate(-5deg));
    @include box-shadow(0, 6px, 12px, rgba(0, 0, 0, 0.3));
    z-index: -1;
}

.template-paperpage:after {
    left: auto;
    right: 12px;
    @include transform(skew(5deg) rotate(5deg));
    z-index: -1;
}

.printpage-fields-container{
    display: grid;
    //grid-template-columns: [col1] 50%  [col2] 50%;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 5px 20px;
}

.printpage-field-container{
    display: flex;
    justify-content: flex-end;
}

.printpage-input{
    width: 50px;
}

.template-margin-indicator-element{
    position : absolute;
    width : 100%;
    height : 100%;
    border : 2px dashed red;
    box-sizing : border-box;
    z-index : 100;
    pointer-events : none;
}

.template-element-ordertable{
    border: dashed 2px $color-mgrey;
    table{
        border: none;
        background: $color-white;
        float: none;
        margin: 0;

        tr{
            border: none;
            background: inherit;
        }

        td{
            border: none;
            background: inherit;
            color: $color-black;
            text-align: left;
            height:7.5mm;
        }

        th{
            @extend td;
            font-weight: bold
        }
    }
}

.template-element-ordertable-totals{
    float: right;
    margin-top:5px;
    table{
        td{
            min-width: 90px;
            height:auto;
        }

        th{
            @extend td;
        }
    }
}

.template-element-text, .template-element-selleraddress, .template-element-deliveryaddress{
    .style-tag-b{
        font-weight: bold;
    }

    .style-tag-i{
        font-style: italic;
    }

    .style-tag-bi{
        @extend .style-tag-b;
        @extend .style-tag-i;
    }
}

.addInvoiceElement {
    display:none;
    div.button {
      width:95px !important;
      min-width:initial;
      display: block;
      float: left;
      margin: 5px 0px 5px 0px;
      padding: 6px 5px 6px 5px!important;
      height: auto;
      @include box-sizing(border);
      &:nth-child(even) {
        clear:both;
      }
      .action {
        width: 100%;
        height: 100%;
        float: left;
        clear:both;
        position: relative;
        .icon {
          float: left;
          clear:both;
          position: absolute;
          top: 50%;
          margin-top: -9px;
        }
        .title {
          width: 45px;
          display: block;
          float: left;
          white-space: normal;
          margin-left: 27px;
          text-align: left;
          font-size: 13px;
        }
      }
    }
    div.button:nth-child(odd) {
        margin-left: 10px;
    }
}
.template-element-image{
    background-color: $color-lgrey;
    border: solid 1px $color-mgrey;
    img{
        width: 100%;
        height: 100%;
    }

    .placeholder{
        margin-top: 50%;
        text-align: center;
        background-color: rgba(255,255,255, 0.95);
        border-top: 0px;
        border-left: 1px solid $color-lgrey;
        border-right: 1px solid $color-lgrey;
        border-bottom: 1px solid $color-lgrey;
        padding: 10px 0px 10px 0px;
        @include border-radius(0px 0px 5px 5px);
        input[type=file]{
            display: none;
        }

        input[type=button]{
            margin: 10px auto 0px auto;
        }
    }
}

#main-wrapper {
    padding: 0px !important;
}

.template-module {
    width: auto;
    min-width: 208px;
    display: none;
    float: left;
    clear: both;
    padding: 20px;
    border-bottom: 1px solid $color-lgrey;
    .element {
        clear: both;
    }
    .heading-small {
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.invoice-select-create {
    display: block;
    padding:20px 20px 10px 20px;
    height:80px;
    .button {
      width: 100%;
      float:left;
      padding: 4px 8px 4px 8px!important;
    }
}

.invoice-action-buttons {
    display: block;
    padding: 20px;
    .button {
        width: 100%;
        float:left;
        padding: 4px 8px 4px 8px!important;
    }
}

.positioning-square {
    width:110px;
    float:left;
}

.positioning-input {
    width: 60px;
    display: block;
    margin: 5px 0px 5px 0px;
}
#template-selector{
    width: 100%;
    min-width: 100%;
    float: left;
    clear:both;
    margin-bottom: 8px;
}
#paper-type-dropdown {
    width: 100%;
    min-width: 100%;
    float: left;
    clear:both;
    margin-bottom: 8px;
}
.med-element {
    width: 100%;
    float: left;
    clear:both;
}
.template-new-btn {
    width: 102px;
    float: left;
    clear:both;
}
.template-dup-btn {
    width: 100px;
    float: right;
}
.pdf-btn {
    width: 100%;
    float: left;
    clear:both;
}
.template-inputbox-holder {
    width: 94%;
    float: left;
    clear:both;
}
.paper-type-checkbox {
  margin-bottom: 7px;
}
.paper-type-checkbox, .remove-blank-lines-checkbox, .show-vat-checkbox{
    .std-checkbox {
        left: -10px;
    }
    .checkbox_label {
        left: 35px;
    }
}
.paper-type-checkbox .checkbox_label {
  top: 7px;
}
#heading-inspector {
    width: 100%;
    float: left;
    clear:both;
    padding-top: 15px;
    .heading-medium {
        margin-top: 4px;
    }
    .heading-btn {
        float: right;
        margin-right: 30px;
        margin-top: -5px;
    }
}
.inspector-module {
    width: 100%;
}
#text-inspector-data-fields {
    margin-top: 10px;
    margin-bottom:15px;
    .open-content {
        font-size: 11px;
        max-width: 235px;
    }
}

.align_buttons {
    float: left;
    margin-left: 10px;
}
.color-picker {
    width: 100%!important;
    float: left;
    clear:both;
}

.inspector-holder {
    width: 100%;
    float: left;
    clear: both;
    border-bottom: 1px solid $color-lgrey;
    padding: 0px 15px 15px 15px;
    .inspector-group-holder {
        float: left;
        clear:both;
        .inspector-field-holder {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
    .tinymce-holder {
        width: 220px!important;
        float: left;
        clear:both;
    }
}

.inspector-field-fontfamily {
    width: 205px;
    float: left;
}

.inspector-field-fontsize {
    width: 100px;
    float :left;
}
.inspector-font-align {
    float: left;
}
.positioning-secondrow {
    width: 100%;
    float: left;
    clear:both;
    margin-top: 10px;
}
.positioning-mm {
    margin: 10px 0px 0px 3px;
}
