#invoiceOverview {
    .invoice-template-section {
        width: 100%;
        float: left;
        padding: 20px 30px 0 30px;
        .heading-large {
            margin-bottom: 20px;
        }
        .invoice-template-element {
            height: 340px;
            float: left;
            margin-right: 5%;
            margin-bottom: 20px;
            .invoice-template-thumb {
                position: relative;
                border: 1px solid $color-lgrey;
                width: 167px;
                height: 236px;
                img {
                    width: 100%;
                }
            }
            .invoice-template-name {
                font-weight: 600;
                text-align: center;
                margin-top: 4px;
                max-width: 169px;
                color: $color-dgrey;
                max-height: 40px;
                overflow-y: auto;
            }
            .invoice-template-actions {
                position: absolute;
                display: flex;
                justify-content: space-around;
                width: 100%;
                bottom: 0;
                box-sizing: border-box;
                .invoice-template-action-link {
                    width:40px;
                    height:40px;
                    text-decoration: underline;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}