.invoiceSettings, .invoiceMapping {
    width: 100%;
    float: left;
    clear:both;

    .heading-large {
        margin-bottom: 20px;
    }
    .heading-medium {
        margin-bottom: 10px;
    }
    .dataTables_scroll {
        width: 500px;
        float: left;
        clear: both;
        height: auto;
        .dataTables_scrollBody {
            min-width: 100%!important;
            width: 100%!important;
        }
        .dataTables_scrollHead {
            min-width: 100%!important;
            width: 100%!important;
            .dataTables_scrollHeadInner {
                min-width: 100%!important;
            }

        }
        .dataTable {
            width: 100%!important;
            min-width: 100%!important;
        }
    }
    .med-element {
        width: 100%;
        min-width: 200px;
        float: left;
        clear:both;
        .custom-select {
            width: 200px;
            float: none;
            clear:both;
            margin: auto;
            li a :hover {
                background-color: $color-dgrey;
            }
        }
    }
    td {
        overflow: visible;
        text-align: center;
    }
}
#invoiceMapping_wrapper {
    .dataTables_scroll {
        .dataTables_scrollBody {
            padding-bottom: 150px;
        }
    }
}

#invoiceMapping {
    width: auto !important;
}

.invoice-settings-field {
    height: 20px;
}

.invoiceMapping {
    .med-element {
        width: 120px;
        min-width: 120px;
        float: none !important;
        margin: 0 auto;
        .custom-select {
            width: 120px;
        }
    }
    tr {
        td {
            border-bottom: none;
        }
        &.account-row:not(:first-child) {
            td {
                border-top: 1px solid $color-lgrey !important;
            }
        }
        &.odd-row {
            background-color: white;
        }
        &.even-row {
            background-color: #edf7fc;
        }
    }
}
.invoiceDefaultSettings {
    @include calc(width, "100% - 60px");
    float: left;
    clear:both;

    &.half {
        width: 700px;

        label {
            width: 100%;
        }
    }

    .settings-save {
        float: none;
    }
}
.invoiceMappingSettings {
    float: left;
    margin-bottom: 20px !important;
    &.half {
        label {
            width: 100%;
        }
    }
    .settings-save {
        float: none;
    }
}
.default-invoice-holder {
    @include calc(width, "100% - 60px");
    float: left;
    clear: both;
}
.default-invoice-dropdown {
    width: 100%;
    float: left;
    clear:both;
    .med-element {
        width: 200px!important;
    }
}
.invoiceTradingCompanySettings #accounts_wrapper {
    width: 650px !important;
}
.invoiceTradingCompanySettings, .invoiceMappingTable {
    @include calc(width, "100% - 60px");
    float: left;
    clear:both;
}
.checkbox-holder {
    width: 300px;
    float: left;
}

.enable_switch {
    margin: auto;
}

.product-images-invoice-holder {
    .std-checkbox {
        top: -4px;
    }
}

.email-send-as-label,
.email-bcc-label {
    display: flex;
    align-items: center;
}

.email-send-as-holder {
    display: flex;
    width: 100%;
    position: relative;


    left: 10px;

    .inputbox {
        width: 230px;
        box-sizing: border-box;
        margin-right: 10px;
    }
    
    .status {
        display: inline-block;
        overflow: visible;
        min-width: 160px;
        line-height: 20px;
    }
}

.copy-required-holder {
    .std-checkbox label:after {
        margin-top: -8px;
    }
}

.email-bcc-holder {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
    min-height: 28px;

    .inputbox {
        max-width: 230px;
        box-sizing: border-box;
    }
}

.copy-required-holder {
    .checkbox-holder {
        width: 50px;
    }
}

.email-verify-button {
    &.hidden {
        display: none;
    }

    &.verifying:before {
        content: '';
        background: url('../../zf2-v4-ui/img/loading-transparent-21x21.gif') no-repeat center center;
        background-size: 80%;
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        float: left;
    }
}

.invoice-email-editor-section {
    clear: left;
}

.popup .content {
    width: 660px;
}

.popup .header-large {
    background-color: $color-linkblue;
    color: $color-white;
    padding: 8px;
    font-weight: bold;
}

.popup .button.yes-button {
    background: #3498db;
    color: #ffffff;
}

.email-edit-popup {
    label {
        font-size: 16px;
    }

    .input-group {
        margin-bottom: 20px;
    }

    .input-group:last-of-type {
        margin-bottom: 0;
    }

    .input-holder {
        margin-top: 10px;
    }

    #invoice-email-subject-editor {
        border: 1px solid $color-lgrey;
        border-radius: 5px;
        padding: 5px;
    }
}

.popup {
    .last-paragraph {
        text-align: center;
        margin: 15px 0 -13px;
    }
}

.input-holder.mce-edit-focus {
    outline: none;
}

div.mce-tinymce-inline {
    margin-left: 548px !important;
}