#invoiceOverview {
    .invoice-template-section {
        width: 75%;
        float: left;
        .heading-large {
            margin-bottom: 20px;
        }
        .invoice-template-element {
            float: left;
            margin-right: 5%;
            margin-bottom: 20px;
            .invoice-template-thumb {
                border: 1px solid $color-lgrey;
                width: 167px;
                height: 236px;
                img {
                    width: 100%;
                }
            }
            .invoice-template-name {
                font-weight: 600;
                text-align: center;
                margin-top: 4px;
                max-width: 169px;
                color: #444444;
            }
            .invoice-template-actions {
                margin-top: 7px;
                padding-left: 7px;
                .invoice-template-action-link {
                    text-decoration: underline;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}