.save-template {
    display: none;
    height: 41px;
}
.save-template-inner {
    width: Calc(100% - 559px);
    z-index: 999;
    background-color: $color-red;
    color: $color-white;
    font-weight:bold;
    .button {
        float:left;
    }
}
.save-template-message {
    line-height:41px;
    float:left;
    font-size: 13px;
    padding-left:20px;
}
.save-template-buttons {
    position:absolute;
    right:0px;
    input {
        margin:7px 8px 5px 0px;
        border: none!important;
    }
}
.sidebar-right {
    width: 310px;
}