.save-template {
    display: none;
    height: 40px;
}
.save-template-inner {
    width: Calc(100% - 503px);
    z-index: 999;
    background-color: $color-red;
    color: $color-white;
    font-weight:bold;
    .button {
        float:left;
    }
}
.save-template-message {
    line-height:40px;
    float:left;
    font-size: 13px;
    padding-left:20px;
}
.save-template-buttons {
    position:absolute;
    right:0px;
    input {
        margin:5px;
        margin-left:0px;
    }
}
