.shipping-alias-wrapper {
    width: 1050px;
    float: left;
    clear:both;
    .heading-large {
        min-width: 960px;
    }
}
.shipping-alias {
    width: 100%;
    float: left;
    clear:both;
    background-color: $color-xlgrey;
    border: 3px solid $color-mgrey;
    padding: 15px;
    @include border-radius(5px);
    margin: 20px 0px 0px 0px;
    @include box-sizing(border);
    .shipping-alias-name-holder {
        width: 50%;
        float: left;
        .inputbox-label {
            margin-top: 4px;
        }
    }
    .shipping-alias-delete {
        float: right;
    }
    .shipping-alias-inner {
       width: 100%;
        min-height: 170px;
        float: left;
        margin-top: 15px;
        background-color: $color-white;
        border: 1px solid $color-lgrey;
    }
    .channel-shipping-methods {
        width: 50%;
        height: 170px;
        float: left;
        clear:both;
        padding: 5px 20px 5px 15px;
        @include box-sizing(border);
    }
    .shipping-services {
        width: 50%;
        height: 170px;
        float: left;
        padding: 5px 15px 5px 18px;
        @include box-sizing(border);
        border-left: 1px solid $color-lgrey;
        .shipping-account-select {
            width: 100%;
            float: left;
            clear:both;
        }
        > div {
            margin: 10px 0;
        }
        .shipping-account {
            clear:both;
        }
    }
}
.shipping-alias-none {
    width: 100%;
    float: left;
    clear:both;
    margin-top: 20px;
}
