.shippingLedger {
    &.usps {
        .balance {
            margin-bottom: 40px;

            .heading-large {
                 margin-bottom: 10px
            }

            .status {
                margin-bottom: 5px;
                width:100%;

                .heading-large {
                    width: 150px;
                }
            }
        }

        .alternate-input.mustache {
            margin-bottom: 20px;
            min-width: 0;
            width: 80px;
        }

        .tooltip-holder {
            width:30px; float: left;
        }
    }
}