@import "../../zf2-v4-ui/scss/common/partials/_variables";
@import "saveDiscardBar";

.invoice-template-container{
    margin-right: 200px;
    overflow-x: auto;
}

.template-element-wrapper{
    position: absolute;
    float: left;
    box-sizing:border-box;
    padding: 2px;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
}

.template-element-wrapper.active{
    @extend .template-element-wrapper;
    border-color: $color-lblue;

    .ui-resizable-handle {
        @extend .template-element-wrapper.active;
        width: 5px;
        height: 5px;
        background-color: #ffffff;
    }

    .ui-resizable-ne {
        top:-6px; right:-6px;
        cursor: ne-resize;
    }
    .ui-resizable-se {
        bottom:-6px; right:-6px;
        cursor: se-resize;
    }
    .ui-resizable-nw {
        top:-6px; left:-6px;
        cursor: nw-resize;
    }
    .ui-resizable-sw {
        bottom:-6px; left:-6px;
        cursor: sw-resize;
    }
    .ui-resizable-n {
        top:-6px;
        left:50%; margin-left:-6px;
        cursor: ns-resize;
    }
    .ui-resizable-e {
        right:-6px;
        top:50%; margin-top:-6px;
        cursor: ew-resize;
    }
    .ui-resizable-s {
        bottom:-6px;
        left:50%; margin-left:-6px;
        cursor: ns-resize;
    }
    .ui-resizable-w {
        left:-6px;
        top:50%; margin-top:-6px;
        cursor: ew-resize;
    }
}

.template-element{
    cursor: move;
    box-sizing: border-box;
}

.template-paperpage{
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: left top;
}

.template-element-ordertable{
    border: dashed 2px black;

    table{
        border: none;
        background: white;
        float: none;
        margin: 0;

        tr{
            border: none;
            background: inherit;
        }

        td{
            border: none;
            background: inherit;
            color: black;
            padding: 3px;
            text-align: left;
        }

        th{
            @extend td;
            font-weight: bold
        }
    }
}

.template-element-ordertable-totals{
    float: right;

    table{
        td{
            min-width: 90px;
        }

        th{
            @extend td;
        }
    }
}

.template-element-text{
    .style-tag-b{
        font-weight: bold;
    }

    .style-tag-i{
        font-style: italic;
    }

    .style-tag-bi{
        @extend .style-tag-b;
        @extend .style-tag-i;
    }
}

.addInvoiceElement {
    display:none;
    .addInvoiceElementTitle {
        padding-left: 10px;
        font-weight:bold;
    }
    div.button {
        margin:8px;
        width:85px !important;
        display: inline-block;
        min-width:initial;
        vertical-align: top;
    }
}
.template-element-image{
    background-color: #eee;
    border: solid 1px #999;

    img{
        width: 100%;
        height: 100%;
    }

    .placeholder{
        margin-top: 50%;
        text-align: center;

        input[type=file]{
            display: none;
        }

        input[type=button]{
            margin: auto;
        }
    }
}

#main-wrapper {
    padding: 0px !important;
}

.template-module {
    display: none;
    clear: left;
    padding: 5px 10px;
    .element {
        clear: left;
        padding: 2px 5px;
    }
}

.invoice-select-create {
    display: block;
    padding:10px;
    height:80px;
    .button {
        float:left;
    }
}

.positioning-square {
    width:110px;
    float:left;
}

.positioning-input {
    width: 60px;
    display: block;
}
