#accounts_wrapper {
  margin-top: 50px;
}

#accounts_wrapper .dataTables_scrollBody {
  height: auto !important;
}

#accounts_wrapper .table-footer {
  display: none;
}

.account_create {
  position:absolute;
  right:25px;
  width:342px;
}

.account_create .input {
  float:left;
  margin:10px 20px 0px 0px;
}

.account_create .input .custom-select-std .selected {
  height:23px;
  line-height:23px;
  width:140px !important;
  padding-left:15px;
  font-size:13px;
}

.account_create .input .custom-select-std ul {
  top: 35px;
  width:200px;
}

.account_create .input .custom-select-std .selected .arrow {
  top:14px;
}