@import "../../zf2-v4-ui/scss/common/partials/_variables";

.save-template {
  background-color: $color-red;
  color: $color-white;
  font-weight:bold;
  height: 40px;
  display:none;

  .button {
    float:left;
  }
}