#sidebar #sidebar-settings * {
  font-size: 12px;
  font-weight: bold;
}

#sidebar #sidebar-settings .title {
  margin: 20px 5px 5px 10px;
  font-size: 13px;
}

#sidebar #sidebar-settings ul {
  margin: 5px 5px 5px 20px;
  padding: inherit;
}

#sidebar #sidebar-settings ul > li {
  display: block;
  list-style-type: none;
}

#sidebar #sidebar-settings ul > li.selected > a {
  color: #3c3c3c;
}