.idea
/config/autoload/database.local.php
/config/autoload/di.guzzle.global.php
/config/autoload/di.memcached.global.php
/config/autoload/di.redis.global.php
/config/host.php
/data/certificates
/data/di
/tests/*/*Guy.php
/tests/_log
/vendor
public/channelgrabber/zf2-logclient