.idea
/config/autoload/database.local.php
/config/autoload/di.cgcache.global.php
/config/autoload/di.guzzle.global.php
/config/autoload/di.memcached.global.php
/config/autoload/di.redis.global.php
/config/autoload/orders.global.php
/config/host.php
/config/module/*
/data/certificates
/data/di
/data/mustache
/module/Orders/src/Orders/Controller/tmp
/nbproject
/tests/*/*Guy.php
/tests/_log
/tests/api.suite.yml
/tools/post_deploy.sh
/vendor
config/di/modules_classmap.php
config/di/vendor_components.php
public/channelgrabber/zf2-logclient
public/channelgrabber/zf2-login
public/channelgrabber/zf2-v4-ui
/.sass-cache
/config/autoload/di.smtp.global.php
