.chart-container {
  margin-top:15px;
  margin-left: 15px;
  width: 100%;
  max-width: 1600px;
  max-height: 800px;
}
.channel-filters {
  .checkbox-holder {
    width: auto;
    margin-top: 15px;
  }
  span.logo:before {
    content: '\2022';
    float: left;
    font-size: 30px;
    line-height: 0;
    text-indent: initial;
    height: 10px;
    margin-left: -11px;
    margin-top: 7px;
  }
  .channel-filter-total {
    span.logo {
      width: 100px;
      height: 23px;
      text-align: center;
      text-indent: initial;
      text-transform: capitalize;
    }
  }
  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.data-type-filter {
  .switch-toggle {
    a {
      background-color: $color-lblue;
    }
    font-size: 12px;
    margin: 20px 3px;
    outline: none;
  }
}
