<div class="enable_switch">
    <input id="stock-settings-account-fixed_{{id}}" class="toggle" type="checkbox" name="account[{{id}}][stockFixedEnabled]"{{#stockFixedEnabled}} checked="checked"{{/stockFixedEnabled}}>
    <label for="stock-settings-account-fixed_{{id}}">
        <span class="toggle_label onlabel">On</span>
        <span class="toggle_label offlabel">Off</span>
    </label>
</div>
