<div class="enable_switch">
    <input id="stock-settings-account-{{id}}-max" class="toggle" type="checkbox" name="account[{{id}}][stockMaximumEnabled]"{{#stockMaximumEnabled}} checked="checked"{{/stockMaximumEnabled}}>
    <label for="stock-settings-account-{{id}}-max">
        <span class="toggle_label onlabel">On</span>
        <span class="toggle_label offlabel">Off</span>
    </label>
</div>
