<?xml version="1.0" encoding="UTF-8"?>
<zend-config>
    <BRANCH>orders</BRANCH>
    <NODE>orders</NODE>
    <APP_NAME>orders</APP_NAME>
    <HOST_NAME>orders.channelgrabber.com</HOST_NAME>
    <VM_PATH>/var/www/orders</VM_PATH>
    <Vagrant>
        <VM-RAM>512</VM-RAM>
        <VM-ip>192.168.33.54</VM-ip>
        <box>cg-precise64-php55</box>
    </Vagrant>
    <ROLE>orders</ROLE>
    <Module>
        <Redis>
            <enabled>1</enabled>
            <Adapters>
                <reliable>1</reliable>
            </Adapters>
        </Redis>
    </Module>
    <Environment>
        <Local>
            <node>orders</node>
            <IP>192.168.33.54</IP>
            <hostname>orders.channelgrabber.com.local</hostname>
        </Local>
    </Environment>
</zend-config>
