<div class="inspector-holder">
    <span class="inspector-group-holder">
        <span class="inspector-field-holder">{{> borderWidth}}</span>
        <span class="inspector-field-holder">{{> borderColour}}</span>
    </span>
</div>
