<div class="inspector-wrapper">
    <div>
        <div>
            <span>
                <span>{{> fontFamily}}</span>
            </span>
            <span>
                <span>{{> fontSize}}</span>
            </span>
        </div>
    </div>
    <div>
        <div>
            <span>
                <span>{{> align}}</span>
            </span>
            <span>
                <span>{{> fontColour}}</span>
            </span>
        </div>
    </div>
</div>
