<div class="inspector-holder">
    <div class="inspector-group-holder">
        <div>
            <span class="inspector-field-holder">
                <span class="inspector-field-fontfamily">{{> fontFamily}}</span>
            </span>
            <span class="inspector-field-holder">
                <span class="inspector-field-fontsize">{{> fontSize}}</span>
                <span class="inspector-font-align">{{> align}}</span>
            </span>
            <span class="inspector-field-holder">
                <span>{{> fontColour}}</span>
            </span>
        </div>
    </div>
</div>
