<div>
    <div><span>Left</span><span>Top</span></div>
    <div><span class="positioning-input">{{> left}}</span>mm<span class="positioning-input">{{> top}}</span>mm</div>
</div>
<div>
    <div><span>Width</span><span>Height</span></div>
    <div><span class="positioning-input">{{> width}}</span>mm<span class="positioning-input">{{> height}}</span> mm</div>
</div>