<div class="inspector-holder">
    <div class="inspector-group-holder">
        <div class="u-display-flex">
            <span class="positioning-square heading-small">Left</span>
            <span class="positioning-square heading-small">Top</span>
        </div>
        <div>
            <span class="positioning-square">
                <span class="positioning-input">{{> left}}</span><span class="positioning-mm">mm</span>
            </span>
            <span class="positioning-square">
                <span class="positioning-input">{{> top}}</span><span class="positioning-mm">mm</span>
            </span>
        </div>
    </div>
    <div class="inspector-group-holder">
        {{#isSizeAsOptions}}
        <div class="positioning-secondrow">
            <span class="positioning-square heading-small">Size</span>
        </div>
        {{> sizeOptions}}
        {{> width}}
        {{> height}}
        {{/isSizeAsOptions}}
        {{^isSizeAsOptions}}
        <div class="positioning-secondrow u-display-flex">
            <span class="positioning-square heading-small">Width</span>
            <span class="positioning-square heading-small">Height</span>
        </div>
        <div>
            <span class="positioning-square">
                <span class="positioning-input">{{> width}}</span><span class="positioning-mm">mm</span>
            </span>
            <span class="positioning-square">
                <span class="positioning-input">{{> height}}</span><span class="positioning-mm">mm</span>
            </span>
        </div>
        {{/isSizeAsOptions}}
    </div>
</div>
