<div class="inspector-holder">
    <div class="inspector-group-holder">
        <div>
            <span class="positioning-square heading-small">Left</span>
            <span class="positioning-square heading-small">Top</span>
        </div>
        <div>
            <span class="positioning-square">
                <span class="positioning-input">{{> left}}</span>mm
            </span>
            <span class="positioning-square">
                <span class="positioning-input">{{> top}}</span>mm
            </span>
        </div>
    </div>
    <div class="inspector-group-holder">
        <div>
            <span class="positioning-square heading-small">Width</span>
            <span class="positioning-square heading-small">Height</span>
        </div>
        <div>
            <span class="positioning-square">
                <span class="positioning-input">{{> width}}</span>mm
            </span>
            <span class="positioning-square">
                <span class="positioning-input">{{> height}}</span>mm
            </span>
        </div>
    </div>
</div>
