<div class="inspector-holder">
    <div class="inspector-text-align-container">
        {{> textAlign}}
    </div>
    <div class="tinymce-holder">
        {{> textarea}}
    </div>
    {{> dataFields}}
    <div class="remove-blank-lines-checkbox">
        {{> removeBlankLines}}
    </div>
</div>
