<script id="id" type="text/html">
    <div class="center checkbox">
        <input type="checkbox" class="select-all-group mainTable order-id" id='order-{{id}}' value='{{id}}'>
    </div>
</script>
<script id="channel" type="text/html">
    <div class="center">
        <span class="logo {{channel}}">{{channel}}</span>
    </div>
</script>
<script id="accountId" type="text/html">
    <div class="center">
        {{accountId}}
    </div>
</script>
<script id="purchaseDate" type="text/html">
    <div class="center">
        {{#formatDateTime}}<strong>{{date}}</strong><br />{{time}}{{/formatDateTime}}
    </div>
</script>
<script id="externalId" type="text/html">
    <div class="left">
        <table class="order-info">
            <tbody>
            <tr>
                <td>
                    <a href="{{order_url}}" class="title">{{externalId}}</a>
                    <span class="subtitle">
                        {{items.0.itemName}}
                    </span>
                </td>
                <td>
                    <span class="subtitle"><br>x{{items.0.itemQuantity}}</span>
                </td>
            </tr>
            {{#items.1}}
            {{#formatAdditionalOrderItems}}
            {{#extraItems}}
            <tr class="hidden order-info-row">
                <td>
                            <span class="subtitle">
                               {{itemName}}
                            </span>
                </td>
                <td><span class="subtitle"><br>x{{itemQuantity}}</span></td>
            </tr>
            {{/extraItems}}
            {{/formatAdditionalOrderItems}}
            <tr><td colspan="2" class="left">
                <a href="#" class="toggle-info" data-target="order-info-row">
                    <strong class="more">[Show All]</strong>
                    <strong class="hide">[Hide]</strong>
                </a></td>
            </tr>
            {{/items.1}}
            </tbody>
        </table>
    </div>
</script>
<script id="total" type="text/html">
    <div class="right">
        {{#formatCurrency}}{{total}}{{/formatCurrency}}
    </div>
</script>
<script id="billingAddressFullName" type="text/html">
    <a href="mailto:">{{shippingAddressFullName}}</a>
</script>
<script id="status" type="text/html">
    <div class="center">
        <span class="status {{status}}">{{status}}</span>
    </div>
</script>
<script id="batch" type="text/html">
    <div class="center">
        <a class="batch green">{{batch}}</a>
    </div>
</script>
<script id="shippingMethod" type="text/html">
    <div class="center">
        {{shippingMethod}}
    </div>
</script>
<script id="dispatchDate" type="text/html">
    <div class="center action">
        <a href="#" class="icon-large dispatch action {{^dispatchDate}}inactive{{/dispatchDate}}" data-action="dispatch" title="Dispatch this order">
            <span class="total green tick"></span>
        </a>
    </div>
</script>
<script id="printedDate" type="text/html">
    <div class="center action">
        <a href="#" class="icon-large print action {{^printedDate}}inactive{{/printedDate}}" data-action="print" title="Print this order">
            <span class="total green tick"></span>
        </a>
    </div>
</script>
<script id="tag" type="text/html">
    <div class="center">
        {{tag}}
    </div>
</script>
<script id="custom-tag" type="text/html">
    <div class="center">
        <input class="tag" type="checkbox" data-datatable="{{datatable}}" data-tag="{{column}}" data-orders="[&quot;{{id}}&quot;]"{{#hasTag}}{{column}}{{/hasTag}}>
    </div>
</script>