<script id="order-row" type="text/html">
    <td class="center checkbox">
        <input type="checkbox" class="select-all-group mainTable" id='order-{{id}}' value='{{id}}'>
    </td>
    <td class="center">
        <span class="logo {{channel}}">{{channel}}</span>
    </td>
    <td>
        {{accountId}}
    </td>
    <td class="center">
        {{#formatDateTime}}<strong>{{date}}</strong><br />{{time}}{{/formatDateTime}}
    </td>
    <td class="left">
        <table class="order-info">
            <tbody>
            <tr>
                <td>
                    <a href="#" class="title">{{externalId}}</a>
                    <span class="subtitle">
                        {{items.0.itemName}}
                    </span>
                </td>
                <td>
                    <span class="subtitle"><br>x{{items.0.itemQuantity}}</span>
                </td>
            </tr>
            {{#items.1}}
                {{#formatAdditionalOrderItems}}
                    {{#extraItems}}
                    <tr class="hidden order-info-row">
                        <td>
                            <span class="subtitle">
                               {{itemName}}
                            </span>
                        </td>
                        <td><span class="subtitle"><br>x{{itemQuantity}}</span></td>
                    </tr>
                    {{/extraItems}}
                {{/formatAdditionalOrderItems}}
            <tr><td colspan="2" class="left">
                <a href="#" class="toggle-info" data-target="order-info-row">
                    <strong class="more">[Show All]</strong>
                    <strong class="hide">[Hide]</strong>
                </a></td>
            </tr>
            {{/items.1}}
            </tbody>
        </table>
    </td>
    <td class="right">
        {{#formatCurrency}}{{total}}{{/formatCurrency}}
    </td>
    <td><a href="mailto:">
        {{shippingAddressFullName}}</a>
    </td>
    <td class="center">
        <span class="status {{status}}">{{status}}</span>
    </td>
    <td class="center">
        <a class="batch green">{{batch}}</a>
    </td>
    <td class="center">
    </td>
    <td>{{shippingMethod}}</td>
    <td class="center action">

        <a href="#" class="icon-large dispatch action {{^dispatchDate}}inactive{{/dispatchDate}}" data-action="dispatch" title="Dispatch this order">
            <span class="total green tick"></span>
        </a>
    </td>
    <td class="center action">
        <a href="#" class="icon-large print action {{^printedDate}}inactive{{/printedDate}}" data-action="print" title="Print this order">
            <span class="total green tick"></span>
        </a>
    </td>
    <td class="center options">
        <span class="icon-med cog">Options</span>
    </td>
</script>