<div id="{{id}}-wrapper" class="{{wrapperClasses}}" style="{{wrapperStyles}}">
    <div id="{{id}}" class="{{classes}}" style="{{styles}}">
        {{{contents}}}
    </div>
</div>
<script type="text/javascript">
require([
    'jqueryPlugin/ui',
    'InvoiceDesigner/Template/DomManipulator',
    'InvoiceDesigner/Template/Element/Service',
],
function(
    $,
    domManipulator,
    elementService
) {
    $('#{{id}}-wrapper')
    {{#resizable}}
        .resizable({
            alsoResize: '#{{id}}',
            containment: 'parent',
            handles: 'all',
            minHeight: {{#minHeight}}{{minHeight}}{{/minHeight}}{{^minHeight}}1{{/minHeight}},
            minWidth: {{#minWidth}}{{minWidth}}{{/minWidth}}{{^minWidth}}1{{/minWidth}},
            {{#maxHeight}}maxHeight: {{maxHeight}},{{/maxHeight}}
            {{#maxWidth}}maxWidth: {{maxWidth}},{{/maxWidth}}
            stop: function(event, $ui) {
                var position = elementService.addDomWrapperGapToDimensions($ui.position);
                var size = elementService.removeDomWrapperGapFromDimensions($ui.size);
                size = elementService.removeDomWrapperGapFromDimensions(size);
                domManipulator.triggerElementResizedEvent('{{id}}', position, size);
            }
        })
    {{/resizable}}
        .draggable({
            containment: 'parent',
            stop: function(event, $ui) {
                var position = elementService.addDomWrapperGapToDimensions($ui.position);
                domManipulator.triggerElementMovedEvent('{{id}}', position);
            }
        });
});
</script>