<table class="template-element-ordertable-main" style="{{tableStyles}}">
    <thead>
        <th style="{{tableHeaderStyles}}">Qty</th>
        <th style="{{tableHeaderStyles}}">Item #</th>
        <th style="{{tableHeaderStyles}}">Description</th>
        <th style="{{tableHeaderStyles}}">Price</th>
        <th style="{{tableHeaderStyles}}">Total</th>
    </thead>
    <tbody>
        <td style="{{tableDataStyles}}">2</th>
        <td style="{{tableDataStyles}}">7788934-2</th>
        <td style="{{tableDataStyles}}">Duracell Battery 10pc</th>
        <td style="{{tableDataStyles}}">&pound;2.00</th>
        <td style="{{tableDataStyles}}">&pound;4.00</th>
    </tbody>
</table>
<div class="template-element-ordertable-totals">
    <table>
        <tbody>
            <tr><th>Postage & Packing</th><td>&pound;4.00</td></tr>
            <tr><th>Subtotal</th><td>&pound;4.00</td></tr>
            <tr><th>VAT</th><td>&pound;0.80</td></tr>
            <tr><th>Total</th><td>&pound;4.80</td></tr>
        </tbody>
    </table>
</div>