<div id="{{id}}" class="shipping-alias">
    <input type="hidden" name="shipping-alias-id" value="{{aliasId}}">
    <input type="hidden" name="shipping-alias-storedETag" value="{{aliasEtag}}">
    <div class="shipping-alias-name-holder">
        <span class="inputbox-label">Shipping Alias</span>
        <div class="order-inputbox-holder">
            {{> text}}
        </div>
    </div>
    <div class="shipping-alias-delete">
        {{> deleteButton}}
    </div>
    <div class="shipping-alias-inner">
        <div class="channel-shipping-methods">
            <span class="inputbox-label">Channel Shipping Methods</span>
            {{> multiSelectExpanded}}
        </div>
        <div class="shipping-services">
            <span class="inputbox-label">Default Shipping Service</span>
            <div class="shipping-account">
                {{> accountCustomSelect}}
            </div>
            <div id="services-custom-select" class="shipping-service">
                {{> serviceCustomSelect}}
            </div>
            <div id="services-options-select" class="shipping-service-options">
                {{> serviceOptions}}
            </div>
        </div>
    </div>
</div>
