{{#orderRow}}
<input type="hidden" name="order[]" value="{{orderId}}" />
<div class="courier-buyer-name">
    <strong>{{buyerName}}</strong>
</div>
<div class="courier-buyer-shipping-country">{{shippingCountry}}</div>
<div class="courier-order-number">{{orderNumber}}</div>
{{/orderRow}}
{{^orderRow}}&nbsp;{{/orderRow}}