{{#orderRow}}
<input type="text" value="{{collectionDate}}" placeholder="DD/MM/YYYY" name="orderData[{{orderId}}][collectionDate]" id="courier-order-collectionDate-{{orderId}}" class="inputbox courier-order-collectionDate" />
{{/orderRow}}
{{^orderRow}}&nbsp;{{/orderRow}}