{{#orderRow}}
<input type="number" placeholder="N/A" readOnly="readOnly" value="{{cost}}" name="orderData[{{orderId}}][cost]" id="courier-parcel-cost-{{orderId}}" class="inputbox number courier-label-cost" />
{{/orderRow}}
{{^orderRow}}&nbsp;{{/orderRow}}