{{#parcelRow}}
<input type="number" placeholder="N/A" readOnly="readOnly" value="{{cost}}" name="parcelData[{{orderId}}][{{parcelNumber}}][cost]" id="courier-order-cost_{{orderId}}_{{parcelNumber}}" class="inputbox number courier-order-cost" />
{{/parcelRow}}
{{^parcelRow}}&nbsp;{{/parcelRow}}