{{#orderData}}
<input type="number" placeholder="N/A" readOnly="readOnly" value="{{cost}}" name="orderData[{{orderId}}][{{parcelNumber}}][cost]" id="courier-parcel-cost-{{orderId}}-{{parcelNumber}}" class="inputbox number courier-label-cost" />
{{/orderData}}
{{^orderData}}&nbsp;{{/orderData}}