{{#actionRow}}
<input type="text" data-required="true" value="{{countryOfOrigin}}" name="orderData[{{orderId}}][countryOfOrigin]" id="courier-order-countryOfOrigin-{{orderId}}" class="inputbox courier-order-countryOfOrigin" />
{{/actionRow}}
{{^actionRow}}&nbsp;{{/actionRow}}