{{#itemRow}}
    <input type="text" data-required="true" value="{{countryOfOrigin}}" {{#parcelRow}}name="parcelData[{{orderId}}][{{parcelNumber}}][countryOfOrigin]" id="courier-order-countryOfOrigin-{{orderId}}-{{parcelNumber}}"{{/parcelRow}}{{^parcelRow}}name="itemData[{{orderId}}][{{itemId}}][countryOfOrigin]" id="courier-order-countryOfOrigin-{{orderId}}-{{itemId}}"{{/parcelRow}} class="inputbox courier-order-countryOfOrigin" />
{{/itemRow}}
{{^itemRow}}&nbsp;{{/itemRow}}