{{#actionRow}}
    <div class="courier-deliveredDuty" style="display: inline-block;margin-bottom: 12px;">
        <a class="std-checkbox">
            <input type="checkbox" class="courier-order-deliveredDuty" id="courier-order-deliveredDuty-{{orderId}}" name="orderData[{{orderId}}][deliveredDuty]" />
            <label for="courier-order-deliveredDuty-{{orderId}}">
                <span class="checkbox_label"></span>
            </label>
        </a>
    </div>
{{/actionRow}}
{{^actionRow}}&nbsp;{{/actionRow}}