{{#orderRow}}
<div class="deliveryExperience">
    <span>
        {{#deliveryExperienceText}}{{deliveryExperienceText}}{{/deliveryExperienceText}}
        {{^deliveryExperienceText}}{{deliveryExperience}}{{/deliveryExperienceText}}
    </span>
    <input type="hidden" name="orderData[{{orderId}}][deliveryExperience]" value="{{deliveryExperience}}" data-delivery-experiences="{{deliveryExperiences}}">
</div>
{{/orderRow}}
{{^orderRow}}&nbsp;{{/orderRow}}