{{#actionRow}}
<input type="text" data-required="true" value="{{harmonisedSystemCode}}" name="parcelData[{{orderId}}][{{parcelNumber}}][harmonisedSystemCode]" id="courier-order-harmonisedSystemCode-{{orderId}}-{{parcelNumber}}" class="inputbox courier-order-harmonisedSystemCode" />
{{/actionRow}}
{{^actionRow}}&nbsp;{{/actionRow}}