{{#itemRow}}
    <input type="text" data-required="true" value="{{harmonisedSystemCode}}" name="itemData[{{orderId}}][{{itemId}}][harmonisedSystemCode]" id="courier-order-harmonisedSystemCode-{{orderId}}-{{itemId}}" class="inputbox courier-order-harmonisedSystemCode" />
{{/itemRow}}
{{^itemRow}}&nbsp;{{/itemRow}}