{{#itemRow}}
    <input type="text" data-required="true" value="{{harmonisedSystemCodeDescription}}" name="itemData[{{orderId}}][{{itemId}}][harmonisedSystemCodeDescription]" id="courier-order-harmonisedSystemCodeDescription-{{orderId}}-{{itemId}}" class="inputbox courier-order-harmonisedSystemCodeDescription" />
{{/itemRow}}
{{^itemRow}}&nbsp;{{/itemRow}}