{{#parcelRow}}
<input type="number" value="{{height}}" placeholder="cm" name="height_{{orderId}}_parcel_{{parcelNumber}}" id="courier-order-height-{{orderId}}-{{parcelNumber}}" class="inputbox number courier-order-height" />
{{/parcelRow}}
{{^parcelRow}}&nbsp;{{/parcelRow}}