{{#parcelRow}}
<input type="number" value="{{height}}" placeholder="cm" name="parcelData[{{orderId}}][{{parcelNumber}}][height]" id="courier-order-height-{{orderId}}-{{parcelNumber}}" class="inputbox number courier-order-height required" />
{{/parcelRow}}
{{^parcelRow}}&nbsp;{{/parcelRow}}