{{^multiLine}}
<input type="number" value="{{height}}" placeholder="cm" name="height_{{orderId}}" id="courier-order-height-{{orderId}}" class="inputbox courier-order-height" />
{{/multiLine}}
{{#multiLine}}&nbsp;{{/multiLine}}