{{#itemRow}}
<input type="text" value="{{hstariff}}" placeholder="commodity code" name="itemData[{{orderId}}][{{itemId}}][hstariff]" class="inputbox number courier-order-hstariff required courier-item-hstariff courier-item-hstariff_{{orderId}}" />
{{/itemRow}}
{{^itemRow}}&nbsp;{{/itemRow}}