{{#actionRow}}
<input type="number" value="{{insuranceMonetary}}" placeholder="#.##" name="orderData[{{orderId}}][insuranceMonetary]" id="courier-order-insuranceMonetary-{{orderId}}" class="inputbox number courier-order-insuranceMonetary" />
{{/actionRow}}
{{^actionRow}}&nbsp;{{/actionRow}}