{{^multiLine}}
<input type="number" value="{{insuranceMonetary}}" placeholder="#.##" name="insuranceMonetary_{{orderId}}" id="courier-order-insuranceMonetary-{{orderId}}" class="inputbox courier-order-insuranceMonetary" />
{{/multiLine}}
{{#multiLine}}&nbsp;{{/multiLine}}