{{#actionRow}}
<div class="checkbox-holder courier-insurance">
    <a class="std-checkbox">
        <input type="checkbox" id="courier-insurance-{{orderId}}" name="insurance_{{orderId}}"/>
        <label for="courier-insurance-{{orderId}}">
            <span class="checkbox_label"></span>
        </label>
    </a>
</div>
{{/actionRow}}
{{^actionRow}}&nbsp;{{/actionRow}}