{{#parcelRow}}
{{! Button added dynamically }}
<input type="hidden" value="{{itemParcelAssignment}}" name="parcelData[{{orderId}}][{{parcelNumber}}][itemParcelAssignment]" id="courier-order-itemParcelAssignment-{{orderId}}-{{parcelNumber}}" class="courier-order-itemParcelAssignment required" />
{{/parcelRow}}
{{^parcelRow}}&nbsp;{{/parcelRow}}