<div class="courier-item courier-item-image">
    {{#itemImage}}<img src="{{itemImage}}" height="50" />{{/itemImage}}
    {{^itemImage}}&nbsp;{{/itemImage}}
</div>
<div class="courier-item courier-item-name">{{itemName}}</div>