<div class="courier-item courier-item-image">
    {{^itemImageText}}
        {{#itemImage}}<img src="{{itemImage}}" height="50" />{{/itemImage}}
        {{^itemImage}}&nbsp;{{/itemImage}}
    {{/itemImageText}}
    {{#itemImageText}}&nbsp;{{/itemImageText}}
</div>