{{^itemImageText}}
    <div class="courier-item courier-item-name">{{quantity}} x {{itemName}}</div>
{{/itemImageText}}
{{#itemImageText}}
    <div class="courier-parcel-title">{{.}}</div>
{{/itemImageText}}