{{^multiLine}}
<input type="number" value="{{length}}" placeholder="cm" name="length_{{orderId}}" id="courier-order-length-{{orderId}}" class="inputbox courier-order-length" />
{{/multiLine}}
{{#multiLine}}&nbsp;{{/multiLine}}