{{#parcelRow}}
<input type="number" value="{{length}}" placeholder="cm" name="parcelData[{{orderId}}][{{parcelNumber}}][length]" id="courier-order-length-{{orderId}}-{{parcelNumber}}" class="inputbox number courier-order-length" />
{{/parcelRow}}
{{^parcelRow}}&nbsp;{{/parcelRow}}