{{^childRow}}
<input type="number" value="{{parcels}}" name="parcels_{{orderId}}" id="courier-order-parcels-{{orderId}}" class="inputbox courier-order-parcels" />
{{/childRow}}
{{#childRow}}&nbsp;{{/childRow}}