{{#actionRow}}
    <div class="courier-receiversEoriNumber" style="display: inline-block">
        <input type="text" class="inputbox courier-order-receiversEoriNumber" id="courier-order-receiversEoriNumber-{{orderId}}" name="orderData[{{orderId}}][receiversEoriNumber]" />
    </div>
{{/actionRow}}
{{^actionRow}}&nbsp;{{/actionRow}}