{{#actionRow}}
<div class="courier-saturday" style="display: inline-block;margin-bottom: 12px;">
    <a class="std-checkbox">
        <input type="checkbox" id="courier-saturday-{{orderId}}" name="orderData[{{orderId}}][saturday]"{{#saturday}} checked="checked"{{/saturday}}/>
        <label for="courier-saturday-{{orderId}}">
            <span class="checkbox_label"></span>
        </label>
    </a>
</div>
{{/actionRow}}
{{^actionRow}}&nbsp;{{/actionRow}}