{{^multiLine}}
<div class="checkbox-holder courier-signature">
    <a class="std-checkbox">
        <input type="checkbox" id="courier-signature-{{orderId}}" name="signature_{{orderId}}"/>
        <label for="courier-signature-{{orderId}}">
            <span class="checkbox_label"></span>
        </label>
    </a>
</div>
{{/multiLine}}
{{#multiLine}}&nbsp;{{/multiLine}}