<input type="number" value="{{weight}}" placeholder="kg" {{^multiLine}}name="weight_{{orderId}}" id="courier-order-weight-{{orderId}}"{{/multiLine}} class="inputbox courier-order-weight{{#multiLine}} courier-item-weight{{/multiLine}}" />