{{#parcelRow}}
<input type="number" min="0" step="any" value="{{width}}" placeholder="{{lengthUnit}}" name="parcelData[{{orderId}}][{{parcelNumber}}][width]" id="courier-order-width-{{orderId}}-{{parcelNumber}}" class="courier-order-dimension inputbox number courier-order-width required" />
{{/parcelRow}}
{{^parcelRow}}&nbsp;{{/parcelRow}}