{{^multiLine}}
<input type="number" value="{{width}}" placeholder="cm" name="width_{{orderId}}" id="courier-order-width-{{orderId}}" class="inputbox number courier-order-width" />
{{/multiLine}}
{{#multiLine}}&nbsp;{{/multiLine}}