@import '../../zf2-v4-ui/scss/common/library/_flexbox.scss';

.setup-wizard-complete {
    font-size: 32px;
    color: $color-mgrey;
    margin: auto;
    text-align: center;
}

.setup-wizard-complete-header {
    font-size: 60px;
}

.setup-wizard-complete-thanks > div {
    margin-top: 25px;
}

.setup-wizard-complete-footer {
    font-size: 28px;
}

.setup-wizard-complete-callback {
    .callback-buttons {
        @include flexbox();
        @include justify-content(center);
        padding-top: 50px;
    }

    .callback-button {
        margin: 15px 50px;
        padding: 15px 50px;
        border-radius: 25px;
        color: $color-white;
        background-color: $color-green;
        cursor: pointer;
    }
}