.setup-wizard-complete {
    font-size: 32px;
    color: $color-mgrey;
}

.setup-wizard-complete-thanks {
    margin-bottom: 30px;
    
    img {
        vertical-align: middle;
        padding-right: 30px;
    }
}

.setup-wizard-complete-congrats {
    padding-left:30px !important;
    padding-right:30px !important;
}

.setup-wizard-complete-name,
.setup-wizard-complete-oh {
    font-weight: bold;
}