#sidebar.setup-wizard-sidebar {
    background: $color-lblue;

    .navbar-content {
        margin-top: 50px;

        ul {
            li {
                border-bottom: none;
                color: $color-white;
                font-size: 15px;

                span.sprite {
                    float: left;
                }

                span.label {
                    display: block;
                    margin-left: 40px;

                    span.setup-wizard-step-number {
                        display: block;
                        font-size: 1.5em;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

.setup-wizard-heading {
    .heading-large {
        font-size: 32px;
    }
}