.category-template-container {
    background-color: $color-bluegrey;
    min-height: 93vh;
    .button {
        line-height: 1.4em;
        font-size: 1.3em;
        &.react-popup-btn {
            line-height: 1em;
            font-size: 1em;
        }
    }
    .button-container {
        width: 100%;
        display: inline-block;
    }
    .load-more-button {
        width: 150px !important;
        margin: 0 auto;
    }
    .heading-large {
        label {
            float: left
        }
        display: inline-block;
        margin-bottom: 15px;
    }
    .search-form {
        width: 500px;
        margin-left: 233px;
    }
    input[disabled] {
        cursor: not-allowed;
    }
    .input-error {
        color: $color-red;
        font-size: 1.1em;
        max-width: 300px;
    }
    .form-error {
        margin: 0 auto;
        display: block;
        max-width: 500px;
    }
}

.category-map-container {
    width: auto !important;
    padding: 5px 5px 5px 20px;
    display: inline-block;
    margin-bottom: 15px !important;

    .header-container {
        label {
            width: auto;
        }
    }

    .save-icon {
        margin-right: 10px;
    }

    label.map-button {
        width: 150px !important;
        display: inline-block;
        float:none;
        margin-left: 25px;
        .button {
            display: block;
        }
    }

    .remove-button {
        margin-left: 20px;
    }

    .category-selects-container {
        display: inline-block;
        label {
            margin: 0 10px 0 0;
            float: initial;
            clear: none;
            display: inline-block;
            width: auto;
            .inputbox-label {
                font-size: 1.3em;
                margin-bottom: 10px;
            }
        }
    }

    .category-select {
        display: flex;
        margin-bottom: 10px;
    }

    .actions-container {
        display: inline-block;
    }

    .delete-container > div {
        display: inline-block;
    }

    .order-inputbox-holder {
        width: 290px;
    }
}

.category-selects-container {
    .custom-select.selected {
        position: relative;
    }
}

#sidebar {
    height: 100%;
}

.module {
    padding: 20px;
}