.category-template-container {
    background-color: $color-bluegrey;
    min-height: 93vh;
    .button {
        line-height: 1.4em;
        font-size: 1.3em;
        justify-content: center;
        &.react-popup-btn {
            line-height: 1em;
            font-size: 1em;
        }
    }
    .button-container {
        width: 100%;
        display: inline-block;
    }
    .load-more-button {
        width: 150px !important;
        margin: 0 auto;
    }
    .heading-large {
        label {
            float: left
        }
        display: inline-block;
        margin-bottom: 15px;
        margin-left: 7px;
        font-weight: bold;
        font-size: 22px;
    }
    .search-form {
        width: 300px;
        margin-left: 20px;
    }
    input[disabled] {
        cursor: not-allowed;
    }
    .input-error {
        color: $color-red;
        font-size: 1.1em;
        max-width: 300px;
        display: table;
    }
    .form-error {
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
    }
}

.category-map-container {
    width: auto !important;
    padding: 5px 5px 5px 20px;
    display: inline-block;
    margin-bottom: 15px !important;

    .header-container {
        label {
            width: auto;
        }
    }

    .save-icon {
        margin-right: 10px;
    }

    label.map-button {
        width: 150px !important;
        display: inline-block;
        float: right;
        clear: none;
        margin-right: 10px;
        .button {
            display: block;
        }
    }

    .remove-button {
        margin-left: 20px;
    }

    .category-selects-container {
        display: inline-block;
        .select-wrapper {
            margin-right: 30px;
            float: initial;
            clear: none;
            display: inline-table;
            width: auto;
            .inputbox-label {
                font-size: 1.3em;
                max-width: 260px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .category-select {
        margin-bottom: 10px;
    }

    .actions-container {
        display: inline-block;
        float: left;
    }

    .delete-container > div {
        display: inline-block;
    }

    .account-category-container {
        .order-inputbox-holder {
            width: 260px;
        }
    }

    .select-and-actions-container{
        width: 260px;
    }
}

.category-selects-container {
    .custom-select.selected {
        position: relative;
    }
}

#sidebar {
    height: 100%;
}

.module {
    padding: 20px;
}

#breadcrumbs {
    margin-bottom: 0;
    margin-left: 20px;
}