.category-template-container {
    background-color: $color-bluegrey;
    min-height: 94vh;
}

.category-map-container {
    width: auto !important;
    padding: 5px 5px 5px 25px;
    display: inline-block;
    margin-bottom: 15px !important;

    label {
        width: 385px !important;
        .inputbox-label {
            font-size: 1.3em;
            margin-bottom: 10px;
        }
    }

    .save-icon {
        margin-right: 10px;
    }

    label.save-button {
        width: 150px !important;
        display: inline-block;
        float: initial;
    }

    .save-button {
        .button {
            line-height: 1.4em;
            font-size: 1.3em;
        }
    }

    .category-selects-container {
        display: inline-flex;
        max-width: 88vw;
        overflow-x: auto;
    }

    .category-select {
        display: flex;
        margin-bottom: 10px;
    }

    .actions-container {
        display: inline-block;
    }

    .account-category-container {
        min-width: 360px;
    }
}

.category-selects-container {
    overflow-x: auto;

    label {
        position: static !important;
    }

    .account-category-container {
        position: static;
    }

    form label > span {
        position: static;
    }

    .custom-select {
        position: static;
    }
    
    .custom-select.selected {
        position: relative;
    }
}
