.container-wrapper.product-create-listing {
  min-height: 0;
  padding: 20px 0 0 0 !important;

  input {
    outline: none;
  }

  .container-buttons {
    padding: 16px;
    float: right;
  }

  .container-children {
    padding: 8px 20px;
  }

  .currency-symbol {
    border-radius: 5px;
    background-clip: padding-box;
    background-color: $color-white;
    border: 1px solid $color-lgrey;
    padding: 3px;
    padding-left: 7px;
    font-size: 13px;
    outline: 0;
    max-height: 26px;
    box-sizing: border-box;
    display: inline-flex;

    &.error {
      border-color: $color-red;
    }

    input[type=number] {
      width: 80px;
      border: 0;
      text-align: right;
      outline: none;
      padding-right: 5px;
    }
  }

  div.error > .custom-select > .selected {
    border-color: $color-red;
  }

  .react-image-picker
  {
    &.error {
      border-color: $color-red;
    }
  }

  .editable-field {
    width: 100%;
  }

  .inputbox-label {
    margin-right: 12px;
    font-size: 1.2em;
    max-width: 150px;
  }

  .search-product-form {
    .inputbox-label {
      max-width: none;
    }
  }

  .amazon-category-form-container {
    .inputbox-label {
      font-size: 1em;
    }
  }

  .container-extra-item-specific {
    input {
      max-width: 100px;
      float: left;
    }
    margin-top: 0;
  }

  .account-select-form {
    .custom-option, .filter-box {
      display: flex;
    }

    .setup-wizard-channel-badge img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

    }

    .setup-wizard-channel-badge.selected {
      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }

      .setup-wizard-channel-badge-name {
        color: $color-linkblue;
      }
    }

    .setup-wizard-channel-badge-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      color: black;
    }

    .channel-badge-container {
      display: inline-block;
      margin: 0 15px;
      max-width: 175px;
      float: left;
    }

    .input-error {
      color: red;
    }

    .account-error {
      margin-bottom: 25px;
      display: inline-block;
    }

    .accounts-error {
      margin-bottom:  25px;
      display: block;
      text-align: center;
    }
  }

  .channel-form-container,
  .category-form-container {
    float: left;
    clear: both;
    margin-top: 10px;
    h2 {
      float: left;
      clear: both;
      font-size: 1.3em;
    }
  }

  .container-buttons {
    float: right;
  }

  .category-template-container {
    background-color: transparent;
    min-height: 0;
  }

  .container-content {
    max-width: none;
    width: 98%;
    padding: 0;
    &.account-form {
      width: 98%;
    }
  }

  .form-input-container {
    .order-inputbox-holder {
      margin-bottom: 15px;
    }
    display: table;
    margin: 0 auto;
  }

  .add-new-category-map-button {
    float: left;
    line-height: 28px;
    margin-left: 15px;
    font-size: 1.3em;
    position: absolute;
  }

  .image-header {
    width: 150px;
  }

  .product-identifier-input {
    width: 115px;
  }

  .product-dimension-input {
    width: 65px;
  }

  .product-price-input {
    width: 80px;
  }

  .product-input-error {
    position: absolute;
  }

  .heading-large {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
    &.heading-table {
      margin-bottom: 8px;
    }
  }

  label.input-container {
    display: block;
  }

  .textarea-description {
    padding: 9px 35px 8px 5px;
  }

  .input-error {
    color: $color-red;
    font-size: 1.1em;
    display: table;
  }

  .input-array-error {
    float: left;
  }

  input.error {
    border-color: $color-red;
  }

  .view-errors-button {
    color: $color-lblue;
    cursor: pointer;
  }

  .custom-select {
    min-width: 300px;
  }

  .search-product-assign-select {
    display: flex;
    margin: 4px auto 0;
    padding: 5px 16px 3px;
    color: white;
    background-color: $color-lblue;
    flex-shrink:  0;

    > span {
      font-size: 14px;
      line-height: 31px;
      padding-right: 16px;
    }

    .custom-select {
      min-width: 0;
      width: 200px;
    }
  }
}

.container-wrapper.product-create-listing:last-child {
  padding-bottom: 100px !important;
}

.container-wrapper.product-create-listing.account-form {
  min-height: 94vh;
  .custom-select {
    min-width: 0;
  }
}

.react-image-picker {
  float: left;
}

.main-image-picker {
  margin-bottom: 20px;
}

.order-inputbox-holder {
  margin-bottom: 15px;
}

.image-dropdown-target {
  .react-image-picker {
    width: 110px !important;
    overflow: initial;
    background-color: $color-white;
    cursor: pointer;
    padding: 0;
    text-align: center;
    min-height: 56px;
  }

  .sprite-arrow-up-10-black, .sprite-arrow-down-10-black {
    float: right;
    margin-right: 5px;
    margin-top: 25px;
    transition: none !important;
  }
}

.image-dropdown-element {
  z-index: 999;

  .react-image-picker {
    background-color: $color-white;
  }
}

.product-create-listing {
  .half {
    width: auto; /* sigh, we need to use .half or all of our form elements don't render properly */
  }

  .variation-picker {
    > table {
      width: auto;
      min-width: 800px;
    }

    &.assigned-products-table {
      > table {
        min-width: 100%;
      }
    }
  }

  .variation-picker:last-child {
    margin-bottom: 0;
  }
}

.variation-picker {
  margin: 20px 0;
  input {
    width: 120px;
    padding: 9px 5px 8px 5px;
  }

  min-width: 500px;

  .editable-field-wrap {
    min-width: 160px;
    margin-right: 20px;

    input {
      padding: 8px;
      background-color: $color-lblue;
      color: $color-white;
      font-weight: bold;

      &:hover {
        background-color: $color-white;
        color: #222;
        font-weight: normal;
      }
    }

    .submit-input .submit-cancel {
      top: -28px;
      right: 6px;
    }
  }

  .checkbox-holder {
    width: 38px;
    margin-top: 8px;
    min-width: 38px;
  }

  table {
    float: none;

    th {
      padding: 8px;
      width: auto;
      min-width: 75px;
      &.with-title {
        cursor: pointer;
      }
      &.account-header {
        max-width: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.attribute-header {
        max-width: 125px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    tr td {
      text-align: left;
    }
  }

  input {
    float: none;
  }

  .std-checkbox label:after {
    margin-top: -9px;
    left: 9px;
  }
}

.assigned-products-table {
  width: 100%;
}

.custom-select {
  .filter-box, .custom-option {
    display: flex;
  }
}

.variation-picker-checkbox {
  width: 38px;
}

.container-wrapper .react-popup-message {
  border-width: 1px !important;
  margin-top: 15px;
  max-width: 1200px;
}

.sub-category-select-container {
  .remove-icon {
    display: inline-block;
    margin-left: 14px;
    position: absolute;
    float: none;
  }
}

.sub-category-select {
  display: inline-block;
  margin-bottom: 5px;
}

.form-section-container {
  margin-left: 50px;
  > label.input-container:first-of-type {
    margin-left: -50px;
  }
}

.search-product-form {
  float: none !important;

}

.search-products-container {
  display: flex;
  clear: both;
  flex-wrap: wrap;
  max-height: 560px;
  overflow-y: auto;

  .custom-select.active .open-content {
    bottom: 30px;
  }
}

.search-product-container {
  width: 370px;
  border: 2px solid $color-lblue;
  margin: 5px;
  padding: 5px 5px 0 5px;
  flex-flow: column;
  height: 260px;
  display: flex;
  align-items: stretch;
}

.search-product-container.selected {
  border-color: $color-linkblue;
  .search-product-title {
    color: $color-linkblue;
  }
}

.search-product-details-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
}

.search-product-image-container {
  height: 200px;
  display: inline-block;
}

.search-product-image {
  width: 150px;
  max-height: 150px;
  object-fit: contain;
}

.search-product-title {
  font-weight: bold;
  font-size: 1.1em;
  flex-grow: 1;
  flex-shrink: 0;
}

table.search-product-item-specifics {
  display: block;
  overflow-y: auto;

  tr {
    td {
      font-size: 1em;
      max-height: none;
      height: auto;
      text-align: left;
    }
    td:last-child {
      border-right: none;
    }
    td:first-child {
      border-left: none;
    }
  }
}

.search-product-item-specific {
  display: flex;
}

.search-label-container {
  width: 385px;
  margin-top: 6px;
  font-size: 1.2em;
}

.product-search-container {
  &.container-content {
    width: 95%;
    max-width: none;
  }

  .container-buttons {
    float: right;
  }
}

.search-button {
  margin-left: 15px;
}

.product-search-error-container {
  color: red;
  font-size: 1.2em;
}
