.editor-popup.create-listing {
  .currency-symbol {
    border-radius: 5px;
    background-clip: padding-box;
    background-color: $color-white;
    border: 1px solid $color-lgrey;
    padding: 3px;
    padding-left: 7px;
    font-size: 13px;
    outline: 0;
    max-height: 26px;
    box-sizing: border-box;
    display: inline-flex;
    input[type=number] {
      width: 40px;
      height: 13px;
      border: 0;
      text-align: right;
      outline: none;
    }
  }

  .inputbox-label {
    margin-right: 12px;
  }

  .container-extra-item-specific {
    margin-top: 0;
  }

  .input-extra-item-specific {
    max-width: 100px;
    float: left;
  }

  input[type=number] {
    width: 50px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: $color-white;
    border: 1px solid $color-lgrey;
    padding: 3px;
    padding-right: 4px;
    font-size: 13px;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

