.container-wrapper.product-create-listing {
  .container-buttons {
    margin: 8px 0 0 168px;
  }

  .currency-symbol {
    border-radius: 5px;
    background-clip: padding-box;
    background-color: $color-white;
    border: 1px solid $color-lgrey;
    padding: 3px;
    padding-left: 7px;
    font-size: 13px;
    outline: 0;
    max-height: 26px;
    box-sizing: border-box;
    display: inline-flex;
    input[type=number] {
      width: 40px;
      height: 13px;
      border: 0;
      text-align: right;
      outline: none;
    }
  }

  .editable-field {
    width: 100%;
  }

  .inputbox-label {
    margin-right: 12px;
    font-size: 1.3em;
  }

  .container-extra-item-specific {
    input {
      max-width: 100px;
      float: left;
    }
    margin-top: 0;
  }

  input[type=number] {
    width: 50px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: $color-white;
    border: 1px solid $color-lgrey;
    padding: 3px;
    padding-right: 4px;
    font-size: 13px;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .account-select-form {
    .custom-option, .filter-box {
      display: flex;
    }

    .setup-wizard-channel-badge img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

    }

    .setup-wizard-channel-badge.selected {
      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }

      .setup-wizard-channel-badge-name {
        color: $color-linkblue;
      }
    }

    .setup-wizard-channel-badge-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      color: black;
    }
  }

  .container-buttons {
    float: right;
  }

  .category-template-container {
    background-color: transparent;
    min-height: 0;
  }

  .container-content {
    max-width: none;
    width: 98%;
  }

  .form-input-container {
    .order-inputbox-holder {
      margin-bottom: 15px;
    }
    display: table;
    margin: 0 auto;
  }

  .add-new-category-map-button {
    float: left;
    line-height: 28px;
    margin-left: 15px;
    font-size: 1.3em;
    position: absolute;
  }

  .custom-select {
    width: 300px;
  }
}

.image-dropdown-target {
  .react-image-picker {
    width: 110px !important;
    overflow: initial;
    background-color: $color-white;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    min-height: 56px;
  }

  .sprite-arrow-up-10-black, .sprite-arrow-down-10-black {
    float: right;
    margin-right: 5px;
    margin-top: 25px;
    transition: none !important;
  }
}

.image-dropdown-element {
  z-index: 999;

  .react-image-picker {
    background-color: $color-white;
  }
}

.product-create-listing {
  .half {
    width: auto; /* sigh, we need to use .half or all of our form elements don't render properly */
  }

  table {
    width: auto;
    min-width: 800px;
  }

}


.variation-picker {
  margin: 10px 0;
  input {
    width: 120px;
  }

  min-width: 800px;

  .editable-field-wrap {
    min-width: 160px;
    margin-right: 20px;

    input {
      padding: 8px;
      background-color: $color-lblue;
      color: $color-white;
      font-weight: bold;

      &:hover {
        background-color: $color-white;
        color: #222;
        font-weight: normal;
      }
    }

    .submit-input .submit-cancel {
      top: -28px;
      right: 6px;
    }
  }

  .checkbox-holder {
    width: 38px;
    margin-top: 8px;
    min-width: 38px;
  }

  table {
    float: none;

    th {
      padding: 8px;
      width: auto;
      min-width: 150px;
    }

    tr td {
      text-align: left;
    }
  }

  input {
    float: none;
  }

  .std-checkbox label:after {
    margin-top: -9px;
    left: 9px;
  }
}

.variation-picker-checkbox {
  width: 38px;
}