$screen-padding: 20px;
#main,
#main-wrapper {
    height: 100%;
    min-height: 100%;
}

.no-products-message-holder {
    width: 100%;
    height: 100%;
    float: left;
    clear: both;
}

.sprite-noproducts {
    display: block;
    float: left;
    clear: both;
    margin-top: 5px;
}

.message-holder {
    float: left;
    margin-left: 10px;
}

.message {
    float: left;
    clear: both;
    color: $color-black;
}

#product-pagination-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#products-list {
    width: 100%;
    float: left;
    clear: both;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.products-list__container {
    margin-top: 48px;
    flex: 18;
    z-index: 20;
    background-color: $color-bluegrey;
    overflow: hidden;
}

.products-list__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products-list__cell {
    padding: 1em;
}

$combined-height-of-non-list-ui-elements: $header-height+$pagination-height+50px;

#products-app{
    font-size:12px;
}
#products-list {
    .c-products-data-table {
        border: none;
    }
    // header cells
    .public_fixedDataTable_header, .public_fixedDataTable_scrollbarSpacer, .public_fixedDataTable_header .public_fixedDataTableCell_main {
        border-left: none;
        border-right: none;
        background: #5fafda;
        color:white;
        border-bottom: #1b75a436 solid 2px;
        .public_fixedDataTableCell_cellContent {
            padding: 0 8px;
        }
    }
    .public_fixedDataTableRow_highlighted, .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
        background: #edf7fc;
    }
    .public_fixedDataTable_bodyRow {
        border-top: 1px solid lighten(black , 85%);
        &.child-row {
            border-top: none;
        }
    }
    .fixedDataTableCellLayout_main {
        border-right-style: none;
    }
}

#products-app {
    display: flex;
    flex-flow: column;
    height: calc(100vh - #{$header-height});
}

.icon-create-listing {
    cursor: pointer;
    i {
        padding-left: 8px;
    }
    &.inactive {
        color: #CCCCCC;
        cursor: not-allowed;
    }
}

.refresh-icon,
.remove-icon {
    float: left;
    display: flex;
    clear: none;
    margin: 3px 0 0 14px;
    cursor: pointer;
}

.remove-icon {
    color: $color-dgrey;
}

.refresh-icon {
    color: $color-light-green;
}

.icon-small-margin {
    margin: 3px 0 0 6px;
}

#searchBtn {
    width: 80px;
    float: left;
    margin: 0px 20px 0px 10px;
    .product-search-button {
        min-width: 50px !important;
        padding: 5px 8px;
    }
}

.js-product-search-by-sku {
    cursor: pointer;
}

.product-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid $color-lgrey;
    border-radius: 5px;
    background-color: $color-white;
    margin-bottom: 20px;
    transition: all 500ms ease;
    &.simple {
        .vat-table .body {
            max-height: 45px;
        }
    }
    .custom-select {
        width: 190px;
        .open-content {
            margin-bottom: 50px;
        }
    }
    .product-holder {
        width: 190px;
        display: flex;
        border-right: 1px solid #c2c2c2;
        justify-content: center;
        .product-image-container {
            align-self: center;
            img {
                max-height: 190px;
                max-width: 190px;
            }
        }
    }
    .product-info-container {
        height: 100%;
        width: 100%;
        float: left;
        .product-header {
            width: 100%;
            font-family: $fonts-default;
            font-size: 18px;
            font-weight: 700;
            padding: 20px 20px 0 20px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            .checkbox-and-title {
                display: flex;
                .checkbox-container {
                    display: inline-flex;
                    width: 32px;
                    height: 32px;
                    .checkbox-holder {
                        width: 100%;
                        .std-checkbox {
                            float: none;
                            display: inline-block;
                            margin-bottom: 9px;
                        }
                    }
                }
                .editable-field-wrap {
                    height: 32px;
                    width: 552px;
                    margin-left: 5px;
                    .editable-field {
                        font-size: 22px;
                        font-weight: 700;
                        width: 100%;
                    }
                }
            }
            .product-status-holder {
                margin-top: 5px;
            }
        }
        .product-content-container {
            table {
                th {
                    height: 28px;
                    width: auto;
                    white-space: nowrap;
                    overflow: hidden;
                    box-sizing: border-box;
                    text-overflow: ellipsis;
                    padding: 5px;
                    &.stock-mode-header-col {
                        width: 300px;
                    }
                    &.list-col {
                        width: 64px;
                    }
                    &.link-col {
                        width: 64px;
                    }
                }
                td {
                    height: 45px;
                    overflow: initial;
                    box-sizing: border-box;
                    border-left: 0;
                    &.image-cell {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    &.link-cell {
                        .sprite {
                            margin: 0 auto;
                        }
                        span {
                            cursor: pointer;
                        }
                    }
                    img {
                        max-height: 44px;
                    }
                }
            }
        }
    }
    .details-layout-column {
        width: 50%;
        th {
            text-transform: capitalize;
        }
        tr:last-child {
            td {
                border-bottom: 1px solid $color-lgrey;
            }
        }
        .listings-table {
            box-sizing: border-box;
            overflow: auto;
            table {
                clear: none;
            }
            span.listing-status {
                width: 38px;
                height: 38px;
                display: inline-block;
                overflow: hidden;
                margin: -5px auto;
                vertical-align: middle;
                &.active {
                    background-image: url('../img/listing-active.png');
                }
                &.pending {
                    background-image: url('../img/listing-pending.png');
                }
                &.paused {
                    background-image: url('../img/listing-paused.png');
                }
                &.error {
                    background-image: url('../img/listing-error.png');
                }
                &.inactive,
                &.unimported,
                &.unknown {
                    background-image: url('../img/listing-unknown.png');
                }
            }
        }
        .vat-table {
            max-height: 118px;
            .head {
                height: 28px;
            }
            .body {
                overflow-y: auto;
                max-height: 90px;
                width: 100%;
            }
            td {
                .checkbox-wrapper {
                    margin: 0 auto;
                    .std-checkbox {
                        float: none;
                    }
                    .rate {
                        margin-left: 25px;
                        display: inline-block;
                        width: 42px;
                    }
                }
            }
        }
    }
    .variations-layout-column {
        width: 50%;
        tr:last-child {
            td {
                border-bottom: 1px solid $color-lgrey;
            }
        }
        td {
            &.ellipsis {
                text-overflow: ellipsis;
                overflow: hidden !important;
                white-space: nowrap;
            }
        }
        .image-sku-table {
            width: 50%;
            border-right: 0;
            box-sizing: border-box;
            table {
                clear: none;
                th {
                    height: 28px;
                }
                td {
                    border-right: 0;
                }
                .sku-col,
                .sku-cell {
                    text-align: left;
                    padding-left: 4px;
                }
            }
            &.full {
                width: 100%;
                table {
                    border-right: 1px solid $color-lgrey;
                }
            }
        }
        .variations-table {
            border-left: 0;
            box-sizing: border-box;
            overflow: auto;
            table {
                clear: none;
                th {
                    height: 28px;
                    &.sortable {
                        cursor: pointer;
                    }
                    .sort-dir {
                        color: $color-dgrey;
                    }
                }
                td {
                    border-left: 0;
                }
            }
            &.hide {
                display: none;
            }
        }
    }
    .product-content-container {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        transition: height 500ms ease;
        .variations-layout-column {
            margin-top: 28px;
        }
        .details-layout-column {
            table tr td:last-child {
                border-right: none;
            }
        }
    }
    .product-footer {
        box-sizing: border-box;
        min-height: 43px;
        .variations-layout-column {
            border: 0;
            padding: 5px 0 5px 22px;
        }
        .details-layout-column {
            border: 0;
        }
        .footer-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .variations-button-holder {
                padding: 10px;
                display: inline-block;
                width: auto;
            }
            .stocklog-link-holder {
                display: inline-block;
                padding: 5px;
            }
            .button {
                padding-left: 10px;
                width: 150px !important;
            }
            table {
                tr {
                    border: 0;
                    td {
                        border: 0 !important;
                        overflow: initial;
                        &.product-stock-mode {
                            width: 190px;
                        }
                        &.product-stock-level {
                            width: 90px;
                        }
                    }
                }
            }
        }
    }
}

span.product-status-holder {
    width: 116px;
    float: right;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    .product-listing-status-dropdown {
        width: 180px;
        float: right;
        position: absolute;
        right: 0;
        top: 22px;
        border: 1px solid $color-lgrey;
        border-radius: 5px;
        z-index: 10;
        display: none;
        table {
            width: 100%;
            float: left;
            clear: both;
            border: 0px;
            margin: 0px;
            th {
                white-space: nowrap;
                overflow: initial;
                width: auto;
            }
            tr {
                height: 20px;
                border: 0px;
                overflow: initial;
                &:first-child {
                    background-color: $color-dgrey;
                    color: white;
                    td {
                        color: white;
                        &:nth-child(even) {
                            text-align: center;
                        }
                    }
                }
                &:last-child,
                &:only-child {
                    td {
                        border-bottom: none !important;
                    }
                }
                td {
                    height: 20px;
                    border: 0;
                    overflow: initial;
                }
            }
        }
    }
    &:hover,
    &:focus {
        .product-listing-status-dropdown {
            display: block;
            span.status {
                overflow: initial !important;
            }
            .product-listing-status-row {
                position: relative;
                .tooltip {
                    position: absolute;
                    right: 80px;
                    top: 0;
                    overflow: auto;
                    width: 240px;
                    min-height: 20px;
                    max-height: 240px;
                    display: none;
                }
                &:hover,
                &:focus {
                    .tooltip {
                        display: block;
                    }
                }
            }
        }
    }
}

.product-variations-container {
    height: 238px;
}

#search-box-wrapper {
    position: fixed;
    z-index: 10;
    top: 49px;
    left: 0px;
    width: 370px;
    padding: 11px 0 9px 10px;
    background-color: $color-xlgrey;
    #searchUIContainer {
        width: 220px;
    }
    #searchBtn {
        float: left;
        width: 80px;
        margin-left: 10px;
        .button {
            width: 100%;
        }
    }
}

#main.products > #bulk-actions {
    padding-left: 582px;
}

#searchSubmit {
    min-width: 70px;
    float: left;
    padding: 6px 6px 6px 6px;
    margin: 0px 10px 0px 10px;
}

div#products-loading-message {
    display: none;
    padding: 15px;
    padding-left: 50px
}

.popup-product-import, .popup-stock-import {
    .popup-product-import-header, .popup-stock-import-header {
        font-weight: bold;
    }
    .popup-product-import-content-box, .popup-stock-import-content-box {
        display: inline-block;
        margin: 20px 0px;
        .popup-stock-import-selection {
            display: inline-block;
            height: 31px;
            .popup-stock-import-label {
                float: left;
                margin-right: 20px;
                font-size: 14px;
                line-height: 31px;
            }
            .popup-stock-import-drop-down {
                float: right;
            }
        }
        .popup-stock-import-file {
            padding: 5px;
            border: 2px dashed $color-lgrey;
            border-radius: 5px;
            > * {
                display: inline-block;
                vertical-align: top;
            }
            .file-upload-text {
                font-size: 14px;
                line-height: 25px;
            }
        }
        .popup-stock-import-selection,
        .popup-stock-import-file {
            margin: 5px 0px;
        }
    }
}

.tabs {
    .tabs-labels {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        border-radius: 3px 3px 0 0;
        li {
            background-color: $color-dblue;
            font-size: 13px;
            font-weight: 700;
            min-width: 110px;
            padding: 5px;
            margin-right: 1px;
            &.active {
                background-color: $color-lblue;
            }
            &:hover {
                background-color: $color-vlblue;
            }
            a {
                color: white;
                display: block;
                text-align: center;
                text-decoration: none;
                outline: 0;
            }
        }
    }
    .tabs-content {
        border-color: grey;
        .pane {
        }
    }
}

div.tether-element div.hover-image {
    border: solid 1px $color-lblue;
    background-color: white;
    img {
        max-height: 200px;
        max-width: 200px;
    }
}

div.tether-element div.tooltip-hover {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
}

.hover-link-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 4px;
    cursor: pointer;
    .thumbnail {
        margin-right: 4px;
        width: 40px;
        img {
            width: 100%;
        }
    }
    .sku {
        width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .stock {
        width: 20px;
        text-align: right;
    }
}

#product-link-editor {
    font-size: 14px;
    .product-info {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
        border-radius: 0 0 5px 5px;
        background-color: $color-lblue;
        color: white;
        text-align: right;
        .available-stock-text {
            margin-right: 5%;
        }
        .available-stock-value {
            font-weight: bold;
            margin-right: 23%;
        }
    }
}

.product-unlink-button {
    width: 30%;
    margin: 0 auto;
    margin-top: 25px;
    .button {
        .sprite-sprite {
            margin-left: 40px !important;
        }
        .button-text {
            padding: 0 45px 0 8px !important;
        }
    }
}

.product-dropdown {
    margin-bottom: 20px;
}

.product-rows {
    .item-row {
        margin-top: 5px;
        .item-row-attributes {
            margin-right: 10px;
        }
        .item-row-qty-input {
            .incrementor-input-box {
                color: $color-mgrey;
            }

            width: 70px;

            input {
                width: 30px;
                border-radius: 5px;
                border: 1px solid $color-lgrey;
            }
        }
    }
}

.product-dropdown .detail-dropdown-wrapper .detail-dropdown-popup {
    position: relative;
}

$medium-margin-distance: 2rem;
$small-margin-distance: 1rem;
$button-height: 30px;
$vertical-margin: 3px;
$navbar-height: 50px;
$tabs-container-height: 50px;

.navbar-strip {
    &__button {
        display: inline-block;
        border: 1px solid #c2c2c2;
        position: relative;
        height: $button-height;
        background-color: transparent;
        box-sizing: border-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: $vertical-margin 6px $vertical-margin 4px;
        border-radius: 5px;
        background-clip: padding-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        background-color: #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
        background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
        &__text {
            float: left;
            margin: 3px 8px 0px 8px;
        }
        &__icon {
            font-family: FontAwesome;
            float: left;
            font-size: $button-height;
            line-height: $button-height+($vertical-margin*2);
            &--center-add {
                font-size: 22px;
                line-height: 25px;
            }
        }
    }
}

.navbar-strip--push-up-fix {
    position: fixed;
    top: 49px;
    left: 370px;
    z-index: 10;
    padding: 11px 0 9px 10px;
}

.tooltip-hover {
    z-index: 99999;
}

.products-tabs-container {
    position: relative;
    top: $navbar-height;
    height: $tabs-container-height;
}

