#purchase-orders-mount-node{
    padding: 25px;
    background-color: $color-grey;
    min-height: calc(100vh - 50px);
    box-sizing: border-box;
    .purchase-orders-actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .custom-select {
            width: 160px;
        }
    }
    .purchase-orders-container {
        display: flex;
        justify-content: space-between;
        .purchase-orders-list {
            width: 49%;
            box-sizing: border-box;
            border-radius: 5px;
            .sort-dir {
                cursor: pointer;
            }
            .status {
                width: 55%;
                margin: 0 auto;
                &.complete {
                    background-color: $color-green;
                }
                &.in_progress {
                    background-color: $color-yellow;
                }
            }
            .row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                text-align: center;
                border-left: 1px solid $color-lgrey;
                border-right: 1px solid $color-lgrey;
            }
            .head {
                width: 100%;
                .row {
                    border-radius: 5px 5px 0 0;
                    .cell {
                        width: 34%;
                        background: $color-lblue;
                        color: $color-white;
                        padding: 5px 0 5px 0;
                        font-size: 13px;
                        font-weight: 700;
                        overflow-wrap: break-word;
                        &:first-child {
                            border-top-left-radius: 5px;
                        }
                        &:last-child {
                            border-top-right-radius: 5px;
                        }
                    }
                }
            }
            .body {
                width: 100%;
                overflow: auto;
                max-height: 74vh;
                .row {
                    background-color: $color-white;
                    &:nth-child(odd) {
                        background-color: $color-xlblue;
                    }
                    &.hoverable {
                        &:hover {
                            cursor: pointer;
                            background-color: $color-vlblue;
                        }
                    }
                    &:last-child {
                        border-radius: 0 0 5px 5px;
                        border-bottom: none;
                        .grid-table-col {
                            border-bottom: none;
                        }
                    }
                    .cell {
                        width: 34%;
                        padding: 5px 0 5px 0;
                        border-bottom: 1px solid $color-lgrey;
                        border-right: 1px solid $color-lgrey;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }
        }
        .purchase-orders-editor {
            width: 49%;
            padding: 20px;
            background-color: white;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid $color-lgrey;
            .product-list {
                overflow: visible;
            }
            .editable-field-wrap {
                box-sizing: border-box;
                width: 100%;
                input {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 5px;
                    font-size: 16px;
                }
            }
            .editor-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
            }
            .detail-dropdown-wrapper {
                margin-bottom: 25px;
                .incrementor-input-box {
                    input {
                        border-radius: 5px;
                        border: 1px solid $color-lgrey;
                    }
                }
            }
            .item-row {
                .item-row-details {
                    margin-right: 15px;
                    .item-row-attributes {
                        margin-right: 40px;
                    }
                    .item-row-qty-input {
                        input {
                            width: 30px;
                            border-radius: 5px;
                            border: 1px solid $color-lgrey;
                        }
                    }
                }
            }
        }
    }
    .react-popup {
        width: 25%;
    }

    .incrementor-input-box {
        color: $color-mgrey;
    }
    .item-row-qty-input {
        width: 70px;
    }
}