#purchase-orders-mount-node{
    padding: 25px;
    #actions-bar {
        display: flex;
        justify-content: space-between;
    }
    #purchase-orders-container {
        display: flex;
        justify-content: space-between;
        padding: 25px;
        #purchase-orders-list {
            width: 50%;
        }
        #purchase-orders-editor {
            width: 50%;
        }
    }
}