<div class="popup-stock-import clearfix">
    <div class="popup-stock-import-header-box">
        <div class="popup-stock-import-header">
            {{title}}
        </div>
    </div>
    <div class="popup-stock-import-content-box">
        {{#updateOptions}}
        <div class="popup-stock-import-selection">
            <div class="popup-stock-import-label label">Stock Action:</div>
            <div class="popup-stock-import-drop-down">{{{updateOptions}}}</div>
        </div>
        {{/updateOptions}}
        {{{fileUpload}}}
    </div>
    <div class="popup-stock-import-button-box">
        <div class="center">
            <input type="button" class="button inline popup-stock-import-button" value="Confirm">
        </div>
    </div>
</div>
