<div class="popup-stock-import clearfix">
    <div class="popup-stock-import-header-box">
        <div class="popup-stock-import-header">
            {{title}}
        </div>
        <div class="popup-stock-import-exit">

        </div>
    </div>
    <div class="popup-stock-import-selection">
        <div class="popup-stock-import-drop-down">{{{updateOptions}}}</div>
    </div>
    <div>
        <div class="popup-stock-import-file">
            <input type="file" value="Choose File" name="stockUploadFile" id="popup-stock-import-file-upload-input"/>
        </div>
    </div>
    <div>
        <div class="center">
            <input type="submit" class="button inline popup-stock-import-button" value="Confirm">
        </div>
    </div>
</div>
