<div class="hover-popup">
    <div class="hover-popup-header">
        <span class="hover-popup-title">{{title}}</span>
        <span class="hover-popup-help">
            <span class="sprite sprite-question-16-white">&nbsp;</span>
            <span class="hover-popup-help-bubble">
                <div class="hover-popup-help-bubble-triangle"></div>
                <div class="hover-popup-help-text">{{helpText}}</div>
            </span>
        </span>
    </div>
    <div class="hover-content">
        {{#linkedOrders}}
            <a href="/orders/{{.}}">{{.}}</a>
        {{/linkedOrders}}
    </div>
</div>