<div class="hover-popup">
    <div class="hover-popup-header">
        <span class="hover-popup-title">Order Items:</span>
    </div>
    <div class="hover-content">
        {{#items}}
            {{id}}
        {{/items}}
    </div>
</div>