<div class="hover-popup multi-item-popup">
    <div class="hover-popup-header">
        <span class="hover-popup-title">Order Items:</span>
    </div>
    <div class="hover-content">
        {{#items}}
            <div class="productinfo">
                {{> itemDetails}}
            </div>
        {{/items}}
    </div>
</div>