<div class="header-large">Create Tag</div>
<div class="content">
    <span class="inputbox-label">
        <label for="tag-name">Tag Name:</label>
    </span>
    <div class="popup-inputbox-holder">
        <input id="tag-name" class="inputbox" type="text">
    </div>
</div>
<div class="menu">
    <button class="button cancel">Cancel</button>
    <button class="button create">Create</button>
</div>
