<div class="header">Save Filter</div>
<div class="content">
    <label for="filter-name">Filter Name:</label>
    <input id="filter-name" class="name" type="text">
</div>
<div class="menu">
    <button class="button cancel">Cancel</button>
    <button class="button save">Save</button>
</div>