<div class="header-large">Save Filter</div>
<div class="content" style="width: 450px;">
    <span class="inputbox-label">
        <label for="filter-name">Filter Name:</label>
    </span>
    <div class="order-inputbox-holder">
        <input id="filter-name" class="inputbox" type="text">
    </div>
</div>
<div class="menu">
    <button class="button save">Save</button>
    <button class="button cancel">Cancel</button>
</div>
