<div>
    <ul>
        {{#orderErrors}}
        <li>{{orderNumber}}:
            <ul>
                {{#errorFields}}
                <li>{{fieldName}}{{errorMessage}}</li>
                {{/errorFields}}
            </ul>
        </li>
        {{/orderErrors}}
    </ul>
</div>