<div class="popup-cancel clearfix">
    <div class="popup-cancel-header-box">
        <div class="popup-cancel-header">
            {{type}} Order
        </div>
        <div class="popup-cancel-exit">

        </div>
    </div>
    <div class="popup-cancel-selection">
        <div class="popup-cancel-label label">
            {{type}} Reason:
        </div>
        <div class="sm-element popup-cancel-drop-down">
            <div class="custom-select custom-select-sm custom-select-std">
                <div class="selected popup-cancel-drop-down">
                        <span class="text" data-default=""></span>
                    <span class="arrow down">&nbsp;</span>
                </div>
                <ul>
                    {{#reasons}}
                    <li><a class="cancellation-reason">{{name}}</a></li>
                    {{/reasons}}
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="center">
            <input type="submit" class="button inline popup-cancel-button" value="Confirm">
        </div>
    </div>
</div>