<div class="center">
    <div class="sm-element">
        <div class="custom-select custom-select-sm custom-select-std">
            <div class="selected">
            <span class="text" data-default="<b>{{title}}:</b> ">
                <b>{{title}}:</b>
            </span>
                <span class="arrow down">&nbsp;</span>
            </div>
            <ul>
                {{#reasons}}
                <li><a class="cancellation-reason">{{name}}</a></li>
                {{/reasons}}
            </ul>
        </div>
    </div>
</div>