    <label>
        <span class="inputbox-label">Generate manifest:</span>
        <div class="order-inputbox-holder">
            <div>{{> generateButton}}</div><div class="courier-manifest-open-orders-holder"> - Open Orders: <span class="courier-manifest-open-orders">{{openOrders}}</span></div>
        </div>
    </label>