    <label>
        <span class="inputbox-label">Print historic manifests:</span>
        <div class="order-inputbox-holder">
            <div class="courier-manifest-historic-years">{{> historicYearSelect}}</div>
            <div class="courier-manifest-historic-months">{{> historicMonthSelect}}</div>
            <div class="courier-manifest-historic-dates">{{> historicDateSelect}}</div>
        </div>
    </label>