    <label>
        <span class="inputbox-label">Print historic manifests</span>
        <div class="order-inputbox-holder">
            {{> historicYearSelect}} {{> historicMonthSelect}} {{> historicDateSelect}}
        </div>
    </label>