.main-section {
  display: flex;
  position: fixed;
  width: 100%;
  height: calc(100% - 55px);
  margin-top: 55px;
}

#main-wrapper {
  margin-left: 0px;
  width: 100%;
}

#app-mount-node {
  padding: 0;
}
