.message-pane {
  @include calc(width, "18% - 2px");
  min-width: 300px;
  height: 100%;
  float: left;
  border-right: 1px solid $color-lgrey;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  @include no-print();
  .sort-order {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background-color: $color-lgrey;
    &:hover {
      background-color: $color-mgrey;
    }
    strong {
      display: inline-block;
      vertical-align: baseline;
      margin-left: 10px;
    }
    span {
      float: right;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
  ul {
    width: 100%;
    @include calc(height, "100% - 10px");
    float: left;
    clear:both;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    li {
      width: 100%;
      height: 105px;
      float: left;
      clear:both;
      padding: 0px;
      margin: 0px;
      border-bottom: 1px solid $color-lgrey;
      background-color: $color-xlgrey;
      cursor: pointer;
      padding: 15px 0px 15px 15px;
      @include box-sizing(border);
      &:hover, &:focus, &.active {
        background-color: $color-xlyellow;
      }
    }
  }
  #next-page {
    width:117px;
    margin:0px auto 20px auto;
    position:relative;
    top:10px;
    display:none;
    clear:both;
  }
}
.channel-logo-holder {
  float: left;
  border: 1px solid $color-lgrey;
  background-color: $color-white;
  margin-top: 10px;
  padding: 6px;
  @include border-radius(100%);
  @include box-sizing(border);
}
.message-details {
  @include calc(width, "100% - 75px");
  float: left;
  margin-left: 10px;
  font-size: 12px;
  .name-category-date {
    width: 100%;
    float: left;
    line-height: 20px;
    .name-category {
      @include calc(width, "100% - 75px");
      float: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .date {
      width: 65px;
      float: right;
      text-align: right;
    }
  }
  .status-assigned {
    width: 100%;
    float: left;
    clear:both;
    .actual-status {
      width: 116px;
      float: left;
      clear: both;
      margin-top: 5px;
      span.status {
        cursor: pointer!important;
      }
    }
    .assigned {
      float: right;
      text-align: right;
      margin-top: 10px;
    }
  }
}
