.message-pane {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 18%;
  box-sizing: border-box;
  min-width: 300px;
  border-right: 1px solid $color-lgrey;
  overflow: hidden;
  height: calc(100% - 50px);
  @include no-print();
  .sort-order {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background-color: $color-lgrey;
    &:hover {
      background-color: $color-mgrey;
    }
    strong {
      display: inline-block;
      vertical-align: baseline;
      margin-left: 10px;
    }
    span {
      float: right;
      margin-right: 10px;
      margin-top: 5px;
      @include transition(all, 0.3s, ease);
    }
    &.ascending span {
      @include rotate(-180deg);
    }
  }
  ul {
    flex: 1;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    li {
      width: 100%;
      float: left;
      clear:both;
      padding: 0px;
      margin: 0px;
      border-bottom: 1px solid $color-lgrey;
      background-color: $color-xlgrey;
      cursor: pointer;
      padding: 15px 0px 15px 15px;
      @include box-sizing(border);
      &:hover, &:focus, &.active {
        background-color: $color-xlyellow;
      }
    }
  }
  #next-page {
    display: none;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
}
.channel-logo-holder {
  float: left;
  border: 1px solid $color-lgrey;
  background-color: $color-white;
  margin-top: 10px;
  padding: 6px;
  @include border-radius(100%);
  @include box-sizing(border);
}
.message-details {
  @include calc(width, "100% - 75px");
  float: left;
  margin-left: 10px;
  font-size: 12px;
  .name-category-date {
    width: 100%;
    float: left;
    line-height: 20px;
    .name-category {
      @include calc(width, "100% - 75px");
      float: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .date {
      width: 65px;
      float: right;
      text-align: right;
    }
  }
  .status-assigned {
    width: 100%;
    float: left;
    clear:both;
    margin-top: -15px;
    .actual-status {
      width: 116px;
      float: left;
      clear: both;
      margin-bottom: 7px;
      span.status {
        cursor: pointer!important;
      }
    }
    .assigned {
      width: 100%;
      display: flex;
      .assigned-label {
        width: 60px;
        margin-right: 5px;
        font-weight: bold;
      }
      .assigned-value {
        max-width: 80px;
        display: inline-block;
        overflow: hidden;
      }
    }
  }
}
