.message-preview {
  width: 82%;
  box-sizing: border-box;
  @include print() {
    width: 100%;
    height: auto;
    display: table;
    overflow: auto;
  };
  height: calc(100% - 50px);
  display: flex;
  position: relative;
  z-index: 1;
}
.no-messages-content {
    width: 100%;
    height: 100px;
    position: absolute;
    @include calc(top, "50% - 50px");
    float: left;
    clear:both;
    .paragraph {
        width: 100%;
        float: left;
        clear:both;
        text-align: center;
        h1 {
            width: 100%;
            float: left;
            clear:both;
            font-size: 20px;
            color: $color-black;
        }
        p {
            width: 100%;
            float: left;
            clear: both;
            font-size: 16px;
            color: $color-dgrey;
            margin: 5px 0px 0px 0px;
        }
    }
}
.preview-header {
  @include print() {
    display: table-header-group;
    position: relative;
    float: initial;
  };
  border-bottom: 1px solid $color-lgrey;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
  padding: 20px;
  background-color: white;
  @include box-sizing(border);
}
.message-title, .message-orders{
  width: 100%;
  min-width: 880px;
}
.message-title, .message-orders, .message-title a, .message-orders a{
  float: left;
  clear:both;
  font-size: 14px;
  font-weight: bold;
}
.message-section {
  height: calc(100% - 169px);
  margin-top: 129px;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  ul {
    width: 100%;
    float: left;
    clear:both;
    padding: 0px;
    margin: 0px;
    @include print() {
      @include calc(width, "100% - 40px");
      margin: 20px;
    }
    li {
      width: 100%;
      min-width: 880px;
      min-height: 40px;
      float: left;
      clear:both;
      border: 1px solid $color-lgrey;
      border-bottom: none;
      overflow: hidden;
      &:first-child {
        @include border-radius(5px 5px 0px 0px);
      }
      &:last-child {
        @include border-radius(0px 0px 5px 5px);
        border-bottom: 1px solid $color-lgrey;
      }
      &:only-child {
        @include border-radius(5px);
        border-bottom: 1px solid $color-lgrey;
      }
      &.print-message {
        @include print() {
          @include border-radius(5px);
          border-bottom: 1px solid $color-lgrey;
        }
      }
      &:not(.print-message) {
        @include no-print();
      }
    }
  }
}
.message-actions {
  width: 100%;
  min-width: 880px;
  float: left;
  clear:both;
  margin-top: 15px;
  .channel-company {
    width: 360px;
    float: left;
    clear:both;
    .logo-large {
      @include no-print();
      float: left;
      clear:both;
    }
    .company {
      width: 100px;
      float: left;
      font-size: 12px;
      margin: 9px 0px 0px 10px;
      @include print() {
        margin-left: 0;
      }
    }
  }
  .actions {
    @include calc(width, "100% - 360px");
    @include no-print();
    float: right;
    margin: 0px;
    .assign {
      width: 200px;
      float: right;
    }
    .action-nav {
      float: right;
      margin-left: 20px;
      ul {
        width: 100%;
        float: right;
        clear:both;
        border: 1px solid $color-lgrey;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        @include border-radius(5px);
        li {
          float: left;
          padding: 6px 15px 5px 15px;
          border-right: 1px solid $color-lgrey;
          cursor: pointer;
          @include gradient-no-img($color-white, $color-xlgrey);
          &:last-child {
            border-right: none;
          }
          &:active {
            @include gradient-no-img($color-xlgrey, $color-white);
          }
        }
      }
    }
    .message-status {
      width: 122px;
      height: 24px;
      float: right;
      margin: 0px 10px 0px 20px;
      .status {
        width: 100%;
        height: 100%;
        line-height: 24px;
      }
    }
  }
}
.message-head {
  width: 100%;
  min-height: 20px;
  float: left;
  clear:both;
  background-color: $color-xlgrey;
  display: block;
  border-bottom: 1px solid $color-lgrey;
  padding: 10px 15px 10px 10px;
  font-size: 12px;
  @include box-sizing(border);
  @include print() {
    font-size: 16px;
  }
  .sprite-sprite {
    @include no-print();
    float: left;
    clear:both;
  }
  .name-user {
    @include calc(width, "50% - 40px");
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    .name {
      font-weight: bold;
    }
    .user {
      font-style: italic;
      font-size: 11px;
    }
  }
  .date-time {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 2px;
    .date {
      font-weight: bold;
    }
  }
}
.message-body {
  width: 100%;
  float: left;
  clear: both;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
  box-sizing: border-box;
  position: relative;
  @include print() {
    font-size: 20px;
  }
  .message-section-collapser {
    background-color: $color-xlgrey;
    border: 1px solid $color-lgrey;
    color: $color-mgrey;
    font-size: 16pt;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 12px;
    text-align: center;
    margin: 10px 15px;
    cursor: pointer;
    &:hover {
      background-color: $color-lgrey;
      border: 1px solid $color-mgrey;
      color: $color-dgrey;
    }
  }
  .message-print {
    float: right;
    text-decoration: underline;
    @include no-print();
  }
  .message-content {
    width: 606px;
    margin: 0 auto;
    .collapsible-section {
      display: none;
      color: $color-mgrey;
    }
    table {
      float: none;
      clear: none;
      white-space: normal;
      line-height: normal;
      font-weight: normal;
      font-size: medium;
      font-style: normal;
      text-align: start;
      border-spacing: 2px;
      table-layout: auto;
      tr {
        max-height: 0 !important;
        background: 0;
        &:first-child, &:last-child {
          border: none;
          border-radius: 0;
          background-clip: initial;
          td {
            border: none !important;
          }
        }
        td {
          padding: 0;
          font-size: inherit;
          max-height: inherit;
          height: auto;
          overflow: inherit;
          font-weight: normal;
          text-align: inherit;
          border-bottom: none;
          line-height: normal !important;
          &:first-child, &:last-child {
            border: none;
            border-radius: 0;
            background-clip: initial;
          }
          img {
            max-width: inherit;
          }
        }
      }
    }
  }
}
.reply-section {
  @include no-print();
  width: 100%;
  min-width: 880px;
  float: left;
  clear: both;
  margin-top: 20px;
  .reply-actions {
    width: 100%;
    float: left;
    clear:both;
    .template-holder {
      float: right;
      position: relative;
      z-index: 0;
    }
  }
  .reply-message {
    width: 100%;
    float: left;
    clear:both;
    margin-top: 20px;
    textarea {
      width: 100%;
      min-height: 210px;
      min-width: 100%;
      float: left;
      clear:both;
      border: 1px solid $color-lgrey;
      padding: 10px;
      font-size: 12px;
      @include border-radius(5px);
      @include box-sizing(border);
    }
  }
  .reply-buttons {
    width: 100%;
    float: left;
    clear:both;
    margin-top: 20px;
    .button-holder {
      float: right;
      margin-left: 20px;
      .button.blue {
        background-color: $color-dblue;
        color: $color-white;
        border: 1px solid darken($color-dblue, 10%);
        padding-left: 10px;
        padding-right: 10px;
        @include gradient-no-img($color-dblue, $color-dblue);
      }
    }
  }
}
