<div class="email-content-column">
    {{#emailTemplate}}
        <div class="button edit-content-button" data-id="{{id}}" data-subject="{{subject}}" data-content="{{template}}">Edit</div>
    {{/emailTemplate}}
</div>