<div class="center email-send-as-holder">
    <input class="inputbox {{sendFromAddress.class}}" data-id="{{sendFromAddress.id}}" type="email" name="{{sendFromAddress.name}}" id="{{sendFromAddress.name}}" value="{{sendFromAddress.value}}" />

    {{^sendFromAddress.emailSendAs}}
        {{#sendFromAddress.emailVerified}}
            <span class="status active email-verify-status">Verified</span>
        {{/sendFromAddress.emailVerified}}
        {{^sendFromAddress.emailVerified}}
            <span class="status pending email-verify-status">Awaiting verification</span>
        {{/sendFromAddress.emailVerified}}
    {{/sendFromAddress.emailSendAs}}

    <button id="{{sendFromAddress.buttonId}}" data-id="{{sendFromAddress.id}}" class="button inline {{sendFromAddress.buttonClass}} {{^sendFromAddress.emailSendAs}}hidden{{/sendFromAddress.emailSendAs}}">Verify</button>
</div>