<div class="email-send-as-holder">
    <input class="inputbox {{sendFromAddress.class}}" type="email" name="{{sendFromAddress.name}}" id="{{sendFromAddress.id}}" value="{{sendFromAddress.value}}" />

    <span id="emailVerifiedStatus" class="status active">Verified</span>
    <span id="emailVerifiedStatus" class="status pending">Awaiting verification</span>

    <button id="emailVerifyButton" class="button inline email-verify ">Verify</button>
</div>