<div class="courier-manifest-popup">
    <div class="header-large">Manifests</div>
    <div class="content">
        <div class="courier-manifest-account clearfix">
            <label>
                <span class="inputbox-label">Choose an account:</span>
                <div class="order-inputbox-holder">
                    {{> accountSelect}}
                </div>
            </label>
        </div>
        <div class="courier-manifest-generate clearfix">
             {{> generate}}
        </div>
        <div class="courier-manifest-historic clearfix">
            {{> historic}}
        </div>
    </div>
    <form class="courier-manifest-generate-form" method="POST" style="display:none">
        <input type="hidden" name="account" value="" />
    </form>
</div>