<div class="courier-manifest-popup">
    <div class="header-large">Manifests</div>
    <div class="content">
        <div class="courier-manifest-account">
            <label>
                <span class="inputbox-label">Choose an account:</span>
                <div class="order-inputbox-holder">
                    {{> accountSelect}}
                </div>
            </label>
        </div>
        <div class="courier-manifest-generate">
             {{> generate}}
        </div>
        <div class="courier-manifest-print-historic">
             {{> historic}}
        </div>
    </div>
</div>