<div class="courier-bulk-action-termsOfDelivery" style="display: inline-block;margin-bottom: 12px;">
    <a class="std-checkbox">
        <input type="checkbox" id="courier-bulk-action-termsOfDelivery" name="bulkAction[termsOfDelivery]" />
        <label for="courier-bulk-action-termsOfDelivery">
            <span class="checkbox_label"></span>
        </label>
    </a>
</div>