<div id="paperTypeModule" class="template-module">
    <div class="heading-small">Paper Type</div>
    <div class="paper-type-select">
        {{> select}}
    </div>


    <div>

        <input id="paperWidth"/>
            x
        <input id="paperHeight"/>

    </div>


    <div class="paper-type-checkbox">
        <div class="std-checkbox">
            <input id="inverseLabelPosition" type="checkbox" value="inverseLabelPosition" name="check" {{#selected}} checked="checked"{{/selected}}/>
            <label for="inverseLabelPosition">
                <span class="checkbox_label">Inverse Label Position</span>
            </label>
        </div>
    </div>
</div>