<div id="paperTypeModule" class="template-module">
    <div class="heading-small">Paper Type</div>
    <div class="paper-type-select">
        {{> paperTypeSelect}}
    </div>

    <!--todo - move these inline styled into classes (might not need the widths)-->
    <div class="u-float-left" style="float:left;">
        <div class="u-flex-v-center" style="display:flex; align-items: center;">
            <input id="paperWidth" type="number" class="inputbox" style="width:60px"/>
            x
            <input id="paperHeight" type="number" class="inputbox" style="width:60px"/>

            <div class="measurement-unit-select" style="width:60px; top: 4px; position: relative;">
                {{> measurementUnitSelect}}
            </div>
        </div>
    </div>

    <div class="paper-type-checkbox">
        <div class="std-checkbox">
            <input id="inverseLabelPosition" type="checkbox" value="inverseLabelPosition" name="check" {{#selected}} checked="checked"{{/selected}}/>
            <label for="inverseLabelPosition">
                <span class="checkbox_label">Inverse Label Position</span>
            </label>
        </div>
    </div>
</div>