<tr class="detail" data-id="{{id}}" data-sku="{{sku}}">
    <td><div class="detail-text-holder">{{> weight}}</div></td>
    <td><div class="detail-text-holder">{{> height}}</div></td>
    <td><div class="detail-text-holder">{{> width}}</div></td>
    <td><div class="detail-text-holder">{{> length}}</div></td>
</tr>
