<div class="details-table">
    <table>
        <thead>
            <tr>
                <th>Weight (kg)</th>
                <th>Height (cm)</th>
                <th>Width (cm)</th>
                <th>Length (cm)</th>
            </tr>
        </thead>
        <tbody>
            {{> details}}
        </tbody>
    </table>
</div>
