<div class="stock-table">
    <table>
        <thead>
            <tr>
                <th><abbr title="Quantity currently available for sale">Available</abbr></th>
                <th><abbr title="Quantity on undispatched orders">Undispatched</abbr></th>
                <th>Total Stock</th>
                {{>stockLevelHeader}}
            </tr>
        </thead>
        <tbody>
            {{> stockLocations}}
        </tbody>
    </table>
</div>
