<div class="stock-table">
    <table>
        <tr>
            <th>Available</th>
            <th>Allocated</th>
            <th>Total</th>
        </tr>
        {{> stockLocations}}
    </table>
</div>