<tr>
    <td id='available_{{productId}}_{{stockLocationId}}' class="product-stock-available">{{available}}</td>
    <td id='allocated_{{productId}}_{{stockLocationId}}' class="product-stock-allocated">{{allocated}}</td>
    <td>
        <div class="total-text-holder">
            {{>total}}
            <input type='hidden' id='etag_{{productId}}_{{stockLocationId}}' class="product-stock-location-etag" value='{{eTag}}'>
        </div>
    </td>
    {{#showStockLevel}}
    <td>
        <div class="stock-level-holder">
            {{>stockLevel}}
        </div>
    </td>
    {{/showStockLevel}}
</tr>
