<tr id="stock-row-{{productId}}" data-product-id="{{productId}}">
    <td id='available_{{productId}}_{{stockLocationId}}' class="product-stock-available">{{available}}</td>
    <td id='allocated_{{productId}}_{{stockLocationId}}' class="product-stock-allocated">{{allocated}}</td>
    <td>
        <div class="total-text-holder">
            {{>total}}
            <input type='hidden' id='etag_{{productId}}' class="product-stock-product-etag" value='{{eTag}}'>
            <input type='hidden' id='etag_{{productId}}_{{stockLocationId}}' class="product-stock-location-etag" value='{{stockLocETag}}'>
        </div>
    </td>
    {{>stockLevelCell}}
</tr>
