<div class="channel-filters">
    {{#channels}}
        <div class="channel-filter">
            {{> columns/channel}}
            {{> elements/checkbox}}
        </div>
    {{/channels}}
    {{#total}}
        <div class="channel-filter channel-filter-total">
            <div class="total-holder">
                <span class="filter-total-text">TOTAL</span>
            </div>
            {{> elements/checkbox}}
        </div>
    {{/total}}
</div>
