<div class="channel-filters">
    {{#channels}}
        <div class="channel-filter">
            {{> columns/channel}}
            {{> elements/checkbox}}
        </div>
    {{/channels}}
    {{#total}}
        <div class="channel-filter channel-filter-total">
            {{> columns/channel}}
            {{> elements/checkbox}}
        </div>
    {{/total}}
</div>
