<div class="data-type-filter">
    <fieldset>
        <div class="switch-toggle switch-candy switch-candy-blue">
            <input id="order-volume" name="data-type" type="radio" data-type="count" checked>
            <label for="order-volume" onclick="">Order volume</label>

            <input id="order-revenue" name="data-type" type="radio" data-type="orderValue" >
            <label for="order-revenue" onclick="">Order revenue</label>

            <a></a>
        </div>
    </fieldset>
</div>