$green : #6fb615;
$grey--light: #d4d4d4;


$button-height: 22px;

$padding-table-cell--medium: 0.5rem 1rem 0.5rem 1rem;
$padding-table-cell: $padding-table-cell--medium;

$padding--input-field: 8px 5px 8px 5px;
$padding--removable-input-field: 0.5rem 1.5rem 0.5rem 0.5rem;
$padding--distance-small:1rem;
$padding--distance-xsmall:0.5rem;

$margin--distance-small:1rem;
$margin--distance-xsmall:0.5rem;