
$medium-margin-distance: 2rem;
$small-margin-distance: 1rem;
$button-height: 22px;
$vertical-margin: 3px;



$padding--input-field: 8px 5px 8px 5px;
$padding--distance-small:1rem;
$padding--distance-xsmall:0.5rem;

$margin--distance-small:1rem;
$margin--distance-xsmall:0.5rem;