<strong>OrderHub Supports {{name}}</strong><br/>
<p>To connect to your {{name}} store, connect at least one of your other channels and then continue with setup as normal.</p>
<p>Once you have completed setup, contact our support agents via the live chat icon in the bottom right of your screen and they will assist you with connecting {{name}}.</p>