<strong>ChannelGrabber Supports Your Store</strong><br/>
<p>To connect to your store you will need to use our Classic version of ChannelGrabber.</p>
<p>Connect to us via the live chat icon in the bottom right of your screen and one of our team will assist you in getting access to ChannelGrabber Classic.</p>
nts via the live chat icon in the bottom right of your screen and they will assist you with connecting your store.</p>