<strong>Classic Integration</strong><br/>
<p>To connect to your {{name}} store you will need to use our Classic version of ChannelGrabber. Connect us via the live chat icon in the bottom right of your screen and one of our team will assist you in getting access to ChannelGrabber Classic.</p>
