<div class="email-edit-popup">
    <div class="input-group">
        <label>Subject Line</label>
        <div class="input-holder" id="invoice-email-subject-editor">{{{subject}}}</div>
    </div>

    <div class="input-group">
        <label>Email Body</label>
        <div class="input-holder" id="invoice-email-editor">{{{content}}}</div>
    </div>
</div>
