<div>
    <label>Subject Line</label>
    <div>
        <input class="inputbox" type="text" value="{{subject}}"/>
    </div>

    <label>Email Body</label>
    <div id="invoice-email-editor">{{{content}}}</div>
</div>
