<strong>{{channelPrintName}} Integration</strong><br/>
<p>To connect to your {{channelPrintName}} store, connect at least one of your other channels and then continue with setup as normal. Once you have completed setup, contact our support agents via the live chat icon in the bottom right of your screen and they will assist you with connecting {{channelPrintName}}.</p>