<strong>Stock Management Confirmation</strong><br/>
<p><strong>1.</strong> If any of your products have missing SKUs we will not be able to manage the stock for these products.<br/>
We ignore any product without a SKU.</p>
<p><strong>2.</strong> If your SKUs are incorrect/duplicated and/or do not match across your channels, we will not be able to manage <br/>
the stock effectively for these products.</p>
<p><strong>3.</strong> If any of your products have zero or negative stock quantities, listings with that product will be ended or <br/>
marked out of stock and they will no longer be able to be purchased.</p>
<p><strong>4.</strong> Once stock management is turned on, Channelgrabber will become your main stock controller,
any manual stock changes should be done through Channelgrabber and not directly on the Marketplace or Webstore.
If you use any other stock control system, you should disable it as having more than one active can cause
unpredictable results.</p>
<p><strong>5.</strong> If you are unsure or have questions about any of the above, please call us on {{phoneNumber}} to discuss.</p>
<p><strong><em>Do you wish to continue?</em></strong></p>