<li data-name="{{name}}" data-filter="{{filter}}">
    <div class='statusNameAndValueContainer filter-module-numbers-only-highlight'>
        <a href="#">
            <span class = "status statusCountPillBox {{statusColourClass}}" id="{{subid}}">0</span>
        </a>
    </div>
</li>