<li data-name="{{name}}" data-filter="{{filter}}" class="{{#hideIfZero}}hide-if-zero hidden{{/hideIfZero}}">
    <div class='statusNameAndValueContainer filter-module-numbers-only-highlight'>
        <a href="#">
            <span class = "status statusCountOnlyPillBox {{statusColourClass}}" id="{{subid}}">?</span>
        </a>
    </div>
</li>