<li data-name="{{name}}" data-filter="{{filter}}">
    <div class='statusNameAndValueContainer'>
        <a href="#">
            <span class='statusNameContainer toggleSideBar'>{{name}}</span>
            <span class ="status statusCountPillBox {{statusColourClass}}" id="{{id}}"></span>
        </a>
    </div>
</li>