<li data-name="{{name}}" data-filter="{{filter}}">

<div class='statusNameAndValueContainer'>
<div class='statusNameContainer'><a href="#">{{name}}</a></div>
<div class='statusValueContainer class ="statusCountPillBox {{statusColourClass}}' id="{{id}}"></div>
</div>

    
</li>