<span class="sk-fading-circle">
    <span class="sk-circle1 sk-circle"></span>
    <span class="sk-circle2 sk-circle"></span>
    <span class="sk-circle3 sk-circle"></span>
    <span class="sk-circle4 sk-circle"></span>
    <span class="sk-circle5 sk-circle"></span>
    <span class="sk-circle6 sk-circle"></span>
    <span class="sk-circle7 sk-circle"></span>
    <span class="sk-circle8 sk-circle"></span>
    <span class="sk-circle9 sk-circle"></span>
    <span class="sk-circle10 sk-circle"></span>
    <span class="sk-circle11 sk-circle"></span>
    <span class="sk-circle12 sk-circle"></span>
</span>
