<span class="status {{decidedStatus}}">{{decidedStatus}}</span>
<div class="product-listing-status-dropdown">
    <table>
        <tr>
            <td>Status</td>
            <td>Account</td>
        </tr>
        {{#listings}}
        <tr>
            <td><span class="status {{status}}">{{status}}</span></td>
            <td>{{channel}}</td>
        </tr>
        {{/listings}}
    </table>
</div>