<span class="status {{decidedStatus}}">{{decidedStatus}}</span>
{{#hasMultipleListings}}
    <div class="product-listing-status-dropdown {{hasMultipleListings}}">
        <table>
            <tr>
                <td>Status</td>
                <td>Account</td>
            </tr>
            {{#listings}}
            <tr>
                <td><span class="status {{status}} hint--bottom" {{#message}}data-hint="{{message}}"{{/message}}>{{status}}</span></td>
                <td>{{#url}}<a href='{{url}}' target='_blank'>{{/url}}{{channel}}{{#url}}</a>{{/url}}</td>
            </tr>
            {{/listings}}
        </table>
    </div>
{{/hasMultipleListings}}
