<div style="margin-bottom: 20px">
You need to add your send from email address to your list of approved email addresses for your Amazon accounts for this to work.
</div>
<div style="margin-bottom: 20px">
To do this go to <a target="_blank" href="https://sellercentral.{{amazonSite}}/gp/communication-manager/address-authorization.html">https://sellercentral.{{amazonSite}}/gp/communication-manager/address-authorization.html</a> and add your email address to the approved senders list. You need to do this for all connected Amazon accounts.
</div>
<div style="margin-bottom: 20px">
<img src="{{basePath}}/img/Warnings/amazonEmailWarning.png">
</div>
<div>
Please confirm that you've added your email address to the approved senders list.
</div>
<div class="last-paragraph">
Was the email address approved for all Amazon accounts?
</div>
