Emailing invoices for amazon requires the "Messages Email" to be setup within your Amazon account.
<a href='http://help.orderhub.io/hc/en-us/articles/203741682-10-OrderHub-Message-Centre-Connecting-your-Amazon-account'>
This can be done by following this guide</a>
