.account-top-up.popup {

    .heading-large {
        margin-bottom: 20px;
    }

    max-width: 370px;

    .status {
        display: none;
    }

    .top-up-holder {
        float: right;
        max-width: 50%;
    }
}