.order-form-wrapper {
    h2 {
        font-size: 17px;
        margin-bottom: 15px;
    }
    color: $color-dgrey;
    .detail-dropdown-wrapper {
        position: relative;
        margin-bottom: 50px;
        .detail-dropdown-searchbox {
            width: 780px;
            .sprite-search-18-black {
                position: absolute;
                top: 4px;
                left: 5px;
            }
            input {
                width: 630px;
                height: 27px;
                padding: 4px 4px 4px 28px;
                box-sizing: border-box;
                border-radius: 5px 0 0 5px;
                border: 1px solid $color-lgrey;
                border-right: none;
            }
            .detail-search-btn {
                display: inline-block;
                padding: 4px;
                border-radius: 0 5px 5px 0;
                width: 150px !important;
                &.disabled {
                    color: $color-lgrey;
                    cursor: default;
                }
            }
        }
        .detail-dropdown-popup {
            position: absolute;
            width: 778px;
            display: none;
            max-height: 270px;
            overflow: auto;
            background-color: white;
            border: 1px solid $color-lgrey;
            border-radius: 5px;
            z-index: 50;
            &:hover, &:focus {
                display: block;
            }
            .dropdown-count {


                width: 100%;
                text-align: center;
                padding: 7px;
                box-sizing: border-box;
            }
            .detail-row-wrapper {
                padding: 5px 0 8px 0;
                &:nth-of-type(even) {
                    background-color: $color-xlgrey;
                }
                .detail-row-header {
                    font-size: 16px;
                    margin: 0 0 5px 40px;
                }
                .detail-row-variations-list {
                    color: $color-mgrey;
                    .detail-variation-row {
                        min-height: 32px;
                        padding: 0 20px 0 40px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &:hover {
                            background-color: $color-grey;
                        }
                        .variation-row-img {
                            max-width: 32px;
                            margin-right: 14px;
                            img {
                                width: 100%;
                            }
                        }
                        .variation-row-sku {
                            width: 110px;
                            margin-right: 24px;
                            overflow: hidden;
                        }
                        .variation-row-attributes {
                            width: 240px;
                            display: flex;
                            justify-content: space-between;
                            margin-right: 24px;
                            overflow: auto;
                            .variation-attribute {
                                min-width: 60px;
                            }
                        }
                        .variation-row-stock {
                            width: 90px;
                            margin-right: 14px;
                            text-align: center;
                        }
                        .variation-row-qty-input {
                            width: 70px;
                            margin-right: 14px;
                            .safe-input-box .submit-input .submit-cancel {
                                left: 0;
                                z-index: 10;
                            }
                        }
                        .variation-row-actions {
                            width: 50px;
                            text-align: center;
                            color: $color-linkblue;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        &.active, &:focus {
            .detail-dropdown-popup {
                display: block;
            }
        }
    }
    .order-table-wrapper {
        margin-bottom: 25px;
        .order-rows-wrapper {
            .order-row {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border: 1px solid white;
                padding: 1px;
                margin-bottom: 8px;
                .order-row-actions {
                    cursor: pointer;
                    display: none;
                }
                &:hover {
                    border-radius: 5px;
                    border: 1px solid $color-lgrey;
                    .order-row-actions {
                        display: inline-block;
                    }
                }
                .order-row-img {
                    max-width: 40px;
                    margin-right: 30px;
                    img {
                        width: 100%;
                    }
                }
                .order-row-description {
                    width: 246px;
                    margin-right: 30px;
                    .order-row-name {
                        width: 100%;
                        font-size: 15px;
                    }
                    .order-row-sku {
                        color: $color-lgrey;
                        width: 100%;
                    }
                }
                .order-row-attributes {
                    width: 210px;
                    margin-right: 64px;
                    .custom-select {
                        width: 100%;
                        .open-content {
                            width: 100%;
                        }
                    }
                    .selected-content, .custom-select-item a {
                        display: flex;
                        justify-content: space-between;
                        .option-component {
                            min-width: 50px;
                            &:last-child {
                                min-width: 0;
                            }
                        }
                    }
                }
                .order-row-price {
                    width: 75px;
                    margin-right: 15px;
                    .currency-symbol {
                        border-radius: 5px;
                        background-clip: padding-box;
                        background-color: $color-white;
                        border: 1px solid $color-lgrey;
                        padding: 3px;
                        font-size: 12px;
                        outline: 0;
                        max-width: 75px;
                    }
                    input {
                        width: 55px;
                        border: 0;
                        text-align: center;
                    }
                }
                .order-row-total {
                    margin-right: 100px;
                }
                .order-row-actions {
                    font-size: 15px;
                }
                .order-row-qty-input {
                    width: 90px;
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                    .multiplier {
                        margin-right: 20px;
                    }
                    .safe-input-box .submit-input .submit-cancel {
                        left: 0;
                        z-index: 10;
                    }
                }
            }
        }
        .order-footer-wrapper {
            .order-discount {

            }
            .order-sub-total {

            }
            .order-shipping {

            }
            .order-total {

            }
        }
    }
}

.incrementor-input-box {
    color: $color-lgrey;
    .incrementor-button {
        width: 25%;
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;
        .increment {
            margin-left: 5px;
        }
    }
    input {
        width: 50%;
        text-align: center;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid $color-lgrey;
    }
    input[type=number] {
        -moz-appearance:textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}