#tracking-information {
    .heading-large {
        float: none;
        margin-bottom: 25px;
        display: block;
    }
    .shipping-method {
        margin-bottom: 18px;
        .half {
            float: none;
            .inputbox-label {
                margin: 0;
            }
        }
    }
}

.shipping-label-table {
    margin-bottom: 25px;
}