//helpers
.tooltip-hover {
    z-index: 99999;
}
.u-float-left {
    float: left;
}
.no-margin {
    margin: 0px auto;
}
.u-background-none{
    background:none !important;
}

.u-color-red{
    color:red !important;
}

.u-border-red{
    border-color:red;
}

.u-margin-top-small{
    margin-top: $margin--distance-small;
}
.u-margin-top-xsmall{
    margin-top: $margin--distance-xsmall;
}
.u-margin-left-small{
    margin-left:$margin--distance-small;
}

