//helpers
.tooltip-hover {
    z-index: 99999;
}

.left {
    float: left;
}

.no-margin {
    margin: 0px auto;
}

.u-background-none{
    background:none !important;
}

u-border-none{
    border:none !important;
}


.u-margin-top-small{
    margin-top: $margin--distance-small;
}
.u-margin-top-xsmall{
    margin-top: $margin--distance-xsmall;
}
.margin-left--small {
    margin-left: $small-margin-distance;
}

.margin-bottom--small {
    margin-bottom: $small-margin-distance;
}

.bold-item {
    font-size: 1.25rem;
    font-weight: 700;
}
.h-inline-block{
    display:inline-block;
}