<div class="setup-wizard-account-badge" id="setup-wizard-account-badge-{{id}}" data-account="{{id}}">
    <img src="{{image}}" width="175" height="175" alt="{{name}}" title="{{name}}" />
    <div class="setup-wizard-account-badge-footer">
        <div class="setup-wizard-account-badge-name">{{name}}</div>
        <div class="setup-wizard-account-badge-controls">
            {{#controls}}
            <a href="{{name}}" class="setup-wizard-account-{{name}}">
                <img src="{{icon}}" width="19" height="19" alt="{{name}}" title="{{name}}" />
            </a>
            {{/controls}}
        </div>
    </div>
</div>