<div class="setup-wizard-channel-badge" data-channel="{{channel}}" data-print_name="{{name}}" data-region="{{region}}" data-integration_type="{{integrationType}}">
    <img src="{{image}}" width="175" height="175" alt="{{name}}" title="{{name}}" />
    <div class="setup-wizard-channel-badge-footer">
        <div class="setup-wizard-channel-badge-name">{{name}}</div>
    </div>
</div>