<div class="setup-wizard-popup setup-wizard-edit-form">
    <div class="header-large">Edit Channel</div>
    <div class="content">
        <input type="hidden" name="id" value="{{accountId}}" />
        <span class="inputbox-label">
            <label for="tag-name">Name:</label>
        </span>
        <div class="popup-inputbox-holder">
            <input type="text" name="displayName" value="{{name}}" class="inputbox">
        </div>
    </div>
    <div class="menu">
        {{> buttons}}
    </div>
</div>