<div class="account-balance" id="account-balance">
    {{> elements/buttons}}

    {{#accountBalance}}
    <div class="balance-holder">
        <span class="account-balance-label">Balance:&nbsp;</span><span class="currency">{{currencySymbol}}</span><span class="account-balance-amount">{{amount}}</span>
    </div>
    {{/accountBalance}}
</div>

{{#accountBalance}}
    <script type="text/javascript">
    require([
            '{{publicFolder}}js/Courier/Specifics/Balance.js',
        ], function(
            Balance
        ) {
            var Balance = new Balance({{accountId}});
        });
    </script>
{{/accountBalance}}