{{> elements/buttons}}

{{#totalLabelCost}}
<div class="total-cost pull-right">
    <span class="total-cost-label">Total Cost:&nbsp;</span><span class="currency hidden">{{currencySymbol}}</span><span class="order-total-label-cost">{{value}}</span>
</div>
{{/totalLabelCost}}

{{#termsOfDelivery}}
    <div class="terms-of-delivery pull-right">
        <span class="total-cost-label">Terms Of Delivery:&nbsp;</span>
        <div><input type="checkbox"></div>
    </div>
{{/termsOfDelivery}}