<div class="shipping-ledger-balance" id="shipping-ledger-balance">
    {{> elements/buttons}}

    {{#shippingLedgerBalance}}
    <div class="balance-holder">
        <span class="shipping-ledger-balance-label">Balance:&nbsp;</span><span class="currency">{{currencySymbol}}</span><span class="shipping-ledger-balance-amount">{{amount}}</span>
    </div>
    {{/shippingLedgerBalance}}
</div>

{{#shippingLedgerBalance}}
    <script type="text/javascript">
    require([
            '{{publicFolder}}js/Courier/Specifics/Balance.js',
        ], function(
            Balance
        ) {
            var Balance = new Balance({{organisationUnitId}}, courierAccountId);

        });
    </script>
{{/shippingLedgerBalance}}