<div class="stock-log-qty-cell">
    <div class="center">{{allocatedQty}}</div>
    {{#allocatedReferenceQty}}
        <div class="center reference">({{allocatedReferenceQty}})</div>
    {{/allocatedReferenceQty}}
</div>