<div class="stock-log-qty-cell">
    <div class="center">{{availableQty}}</div>
    {{#availableReferenceQty}}
        <div class="center reference">({{availableReferenceQty}})</div>
    {{/availableReferenceQty}}
</div>