<div class="stock-log-qty-cell">
    <div class="center">{{onHandQty}}</div>
    {{#onHandReferenceQty}}
        <div class="center reference">({{onHandReferenceQty}})</div>
    {{/onHandReferenceQty}}
</div>