<a href='/messages?f=eu&fv={{#externalUsername}}{{.}}{{/externalUsername}}{{^externalUsername}}{{billingEmailAddress}}{{/externalUsername}}'>{{billingAddressFullName}}
{{#externalUsername}}<br />({{.}}){{/externalUsername}}</a>