
<div class="orderid-cell">
    {{#linkedOrdersData}}
        <div class="linked-orders-icon">
            <span class="sprite sprite-linked-18-blue">&nbsp;</span>
            {{> linkedOrdersPopup }}
        </div>
    {{/linkedOrdersData}}
    <a href="{{order_url}}" class="title">
        <div class="orderid">
            {{externalId}}
        </div>
        <div class="productinfo">
            <span class="subtitle">
                {{#multiItem}}
                <strong>Multiple Items</strong>
                {{/multiItem}}
                {{^multiItem}}
                <span class="itemQuantity">{{items.0.itemQuantity}}</span> x {{#items.0.itemSku}}<span class="itemSku">({{items.0.itemSku}}) - </span>{{/items.0.itemSku}}{{#formatItemName}}<span class="itemName">{{items.0.itemName}}</span>{{/formatItemName}}
                {{/multiItem}}
            </span>
        </div>
        {{#items.1}}
        {{#formatAdditionalOrderItems}}
        {{#extraItems}}
        <div class="hidden additional-items">
            <div class="productinfo">
                <span class="subtitle">
                  <span class="itemQuantity">{{itemQuantity}}</span> x {{#itemSku}}<span class="itemSku">({{itemSku}}) - </span>{{/itemSku}}{{#formatItemName}}<span class="itemName">{{itemName}}</span>{{/formatItemName}}
                </span>
            </div>
        </div>
    </a>
    {{/extraItems}}
    {{/formatAdditionalOrderItems}}
    <div class="hidden additional-item-links">
        <a href="#" class="toggle-info" data-target="order-info-row">
            <strong class="more">[Show All]</strong>
            <strong class="hide">[Hide]</strong>
        </a>
    </div>
    {{/items.1}}
</div>
