
<div class="orderid-cell">
    <a href="{{order_url}}" class="title">
        <div class="orderid">
            {{externalId}}
        </div>
        <div class="productinfo">
            <span class="subtitle">
                {{items.0.itemQuantity}} x {{#formatItemName}}{{items.0.itemName}}{{/formatItemName}}
            </span>
        </div>
        {{#items.1}}
        {{#formatAdditionalOrderItems}}
        {{#extraItems}}
        <div class="hidden additional-items">
            <div class="productinfo">
                <span class="subtitle">
                  {{itemQuantity}} x {{#formatItemName}}{{itemName}}{{/formatItemName}}
                </span>
            </div>
        </div>
    </a>
    {{/extraItems}}
    {{/formatAdditionalOrderItems}}
    <div class="hidden additional-item-links">
        <a href="#" class="toggle-info" data-target="order-info-row">
            <strong class="more">[Show All]</strong>
            <strong class="hide">[Hide]</strong>
        </a>
    </div>
    {{/items.1}}
</div>
