
<div class="orderid-cell">
    {{#linkedOrdersData}}
        <div class="linked-orders-icon">
            <span class="sprite sprite-linked-18-blue">&nbsp;</span>
            {{> linkedOrdersPopup }}
        </div>
    {{/linkedOrdersData}}
    <a href="{{order_url}}" class="title">
        <div class="orderid">
            {{externalId}}
        </div>
        <div class="productinfo">
            <span class="subtitle">
                {{#multiItem}}
                    <span class="order-multi-item-text"><strong>Multiple Items</strong></span>
                    {{> multiItemPopup }}
                {{/multiItem}}
                {{^multiItem}}
                    {{#items}}
                        {{> itemDetails}}
                    {{/items}}
                {{/multiItem}}
            </span>
        </div>
</div>
