<span class="itemQuantity">{{itemQuantity}}</span> x {{#itemSku}}<span class="itemSku">({{itemSku}}) - </span>{{/itemSku}}{{#formatItemName}}<span class="itemName">{{itemName}}</span>{{/formatItemName}}